/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

@import "shared/variables";

// removed in bootstrap 4
$navbar-height: 50px !default;

// Mixins
@mixin center() {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($grid-breakpoints, "lg");
  padding-left: 15px;
  padding-right: 15px;
  @include media-breakpoint-up(md) {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@mixin background-gradient-top($o, $h) {
  display: block;
  background: -moz-linear-gradient(top, rgba(0,0,0,$o) 0%, rgba(0,0,0,0) $h) !important;
  background: -webkit-linear-gradient(top, rgba(0,0,0,$o) 0%,rgba(0,0,0,0) $h) !important;
  background: linear-gradient(to bottom, rgba(0,0,0,$o) 0%,rgba(0,0,0,0) $h) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin background-gradient-bottom($o, $h) {
  display: block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,$o) $h);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,$o) $h);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,$o) $h);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Typography
@font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 16px;
$p-line-height: 28px;
$small-font-size: 14px;
$smaller-font-size: 13px;
$smallest-font-size: 12px;

$search-font-size: 22px;

$h1-font-size: 38px;
$h2-font-size: 27px;
$h3-font-size: 21px;
$h4-font-size: $base-font-size;
$h5-font-size: 12px;
$h6-font-size: 12px;

$sans-serif-font-stack: "Nunito Sans", sans-serif;
$produkt-font-stack: Produkt, serif;

$sans-serif-light: 300;
$sans-serif-book: 400;
$sans-serif-roman: 500;
$sans-serif-medium: 600;
$sans-serif-heavy: 700;
$sans-serif-black: 800;

$produkt-thin: 100;
$produkt-extra-light: 200;
$produkt-light: 300;
$produkt-regular: 400;

$sans-serif: $sans-serif-book;
$serif: $produkt-regular;

// Link color
$link-color:                  $base-navy;
$link-color-light:            $base-interactive-blue;
$link-color-hover:            $light-interactive-blue;
$menu-link-color:             $lightgray-darken-80;
$quick-link-hover-color:      rgba(255,255,255,0.12);

// Button colors
$button:                      #005099;
$button-hover:                #1c64a4;

$button-default:              #005099;
$button-default-hover:        #1c64a4;
$button-default-active:       #054682;

$button-tertiary-border:      #e2e2e2;
$button-tertiary-hover:       #d4e3f0;
$button-tertiary-active:      #a4c3de;

$button-disabled:             #9caab5;
$button-disabled-border:      #d4d4d4;
$button-disabled-background:  #edeef0;

$background-gray:             #EEF0F2;
$background-mist:             $mist-lighten-20;
$border-color:                $lightgray-lighten-6;
$border-color-dark:           $base-lightgray;

$theme-colors: (
  "danger": $base-danger-red,
  "info": $base-info-blue,
  "primary": $base-navy,
  "success": $base-success-green,
  "warning": $base-warning-yellow
);

$background-colors: // background, display, header, body, link, caption
	( '#ffffff'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-45}'
    )
	, '#{$lightgray-lighten-6}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-lightgray}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-mist}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}'
    )
  , '#{$mist-lighten-20}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-clay}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$clay-lighten-10}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-sandstone}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}'
    )
  , '#{$sandstone-lighten-20}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-gold}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-navy}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-moss-web}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-seagreen-web}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-aqua-web}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-coral}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}'
    )
  , '#{$coral-darken-15-desat-15}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#000000'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  );

/*
Color field presets
#eef0f2,
#dce1e5,
#9cbebe,
#dae6e6,
#dcd6cc,
#f1eeea,
#c9bf9d,
#edeadf,
#febc11,
#003660,
#6d7d33,
#09847a,
#047c91,
#ef5645,
#c43424,
#000000
*/

// Padding
$blade-padding-values: ('none':0, '1':1, '2':2, '3':3, '4':4);
$blade-padding: 36px 0 36px 0;
$mobile-blade-padding: 0 0 36px 0;
$blade-padding-with-background: 72px 0 108px 0;
