@import "bootstrap";

// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";


/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Layout
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 0;
  padding-left: 0;
  padding-right: 0;
}

// Elements

html, body {
  height: 100%;
}

body {
  color: $dark-blue;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif;
  font-style: normal;
  font-size: $base-font-size;
  margin-top: 0;
}

#body {
  margin-top: 66px;
  @include media-breakpoint-up(sm) {
    margin-top: 168px;
  }
}

.logo-size-1 {
  #body {
    margin-top: 66px;
    @include media-breakpoint-up(sm) {
      margin-top: 204px;
    }
  }
}

.logo-size-2 {
  #body {
    margin-top: 92px;
    @include media-breakpoint-up(sm) {
      margin-top: 244px;
    }
  }
}

.logo-size-3 {
  #body {
    margin-top: 112px;
    @include media-breakpoint-up(sm) {
      margin-top: 244px;
    }
  }
}

#body.localist-body {
  margin-top: 88px;
  @include media-breakpoint-up(sm) {
    margin-top: 197px;
  }
}

.main-container .region-content, .breadcrumb {
  a:not(.btn) {
    color: $link-color-light;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid $link-color-light;
    &.anchor {
      display: inline-block;
      vertical-align: top;
    }
    &:hover {
      color: $link-color-hover;
      border-bottom: none;
    }
  }
}

a.offsite + svg, svg.offsite {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  margin-bottom: -2px;
}

.footer {
  svg {
    path {
      fill: $white;
    }
  }
}

a.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


h1,h2,h3,h4,h5,h6 {
  color: $lightgray-darken-80;
  line-height: 1.6em;
}

h1 {
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-black;
  font-size: $h1-font-size;
  letter-spacing: -0.1pt;
}

h2 {
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-black;
  font-size: $h2-font-size;
  letter-spacing: -0.1pt;
  margin: 26px 0 10px 0;
}

h3 {
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-black;
  font-size: $h3-font-size;
  margin: 20px 0 10px 0;
}

h4 {
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-black;
  font-size: $h4-font-size;
  margin: 16px 0 8px 0;
}

h5 {
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-black;
  font-size: $h5-font-size;
  text-transform: uppercase;
}

h6 {
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-medium;
  font-size: $h6-font-size;
  text-transform: uppercase;
}

.paragraph--type--column {
  h2:nth-child(1), h3:nth-child(1), h4:nth-child(1) {
    margin-top: 0;
  }
}

p {
  line-height: $p-line-height;
  margin-bottom: 16px;
}
.footer p {
  line-height: 2rem;
}
.main-content li {
  line-height: $p-line-height;
  margin-bottom: 8px;
}

ul {
  &.inline {
    padding-left: 0;
    li {
      display: inline-block;
      list-style-type: none;
      padding-left: 0;
      margin-right: 40px;
      @include media-breakpoint-down(xs) {
        display: block;
        margin-right: 0;
      }
    }
  }
}

p, li, blockquote, {
  b, strong {
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-black;
  }
}


hr {
  border-color: $border-color-dark;
}

.large {
  font-size: 22px;
  line-height: normal;
}

.largest {
  font-size: 23px;
  line-height: 36px;
}

.display-extra-large {
  color: $lightgray-darken-80;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-heavy;
  font-size: 68px;
  @include media-breakpoint-down(sm) {
    font-size: 50px;
  }
  line-height: normal;
  &.serif, span.serif {
    font-family: $produkt-font-stack;
    font-weight: $produkt-extra-light;
  }
}

.display-large {
  color: $lightgray-darken-80;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-heavy;
  font-size: 50px !important;

  @include media-breakpoint-down(sm) {
    font-size: 38px !important;
  }
  line-height: normal;
  &.serif, span.serif {
    font-family: $produkt-font-stack;
    font-weight: $produkt-light;
  }
}

.display-medium {
  color: $lightgray-darken-80;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-heavy;
  font-size: 38px;
  line-height: normal;
  &.serif, span.serif {
    font-family: $produkt-font-stack;
    font-weight: $produkt-light;
  }
}

.display-small {
  color: $lightgray-darken-80;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-heavy;
  font-size: 28px;
  line-height: normal;
  &.serif, span.serif {
    font-family: $produkt-font-stack;
    font-weight: $produkt-light;
  }
}

.lead {
  font-size: 22px;
  line-height: 36px;
}

.label {
  border-radius: 0;
  color: $lightgray-darken-80;
  display: block;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-medium;
  font-size: 14px;
  letter-spacing: 1pt;
  padding: 0;
  text-align: left;
}

span.caption {
  color: $lightgray-darken-45;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-roman;
  font-size: 12px;
}

p.caption, .caption {
  color: $lightgray-darken-45;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-roman;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 12px;

  i, em {
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-roman;
    font-style: italic;
  }
  & + p {
    padding-top: 16px;
  }
}

p.caption + p.caption, p + p.caption {
  margin-top: -8px;
}

.extra-small {
  color: $lightgray-darken-60;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-roman;
  font-size: 10px;
  line-height: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

// Background colors

@each $background in $background-colors {
  $background-color:  nth($background , 1);
  $color-class: str-replace($background-color, '#', '');
  $colors: nth($background, 2);
  $display:       #{nth($colors, 1)};
  $header:        #{nth($colors, 2)};
  $body:          #{nth($colors, 3)};
  $link:          #{nth($colors, 4)};
  $caption:       #{nth($colors, 5)};
  .background-color-#{$color-class}, .secondary-navigation-background-color-#{$color-class} + nav {
    background-color: #{$background-color} !important;
    h1,h2,h3,h4,h5,h6,p[class^=display-] {
      color: $header;
    }
    p, li, label, p.label {
      color: $body;
    }
    a, a:link, a:active, a:visited, .read-more-link {
      &:not(.btn) {
        color: $link !important;
      }
    }
    .caption  {
      color: $caption;
    }
    .nav>li.open>a, .nav>li.active>a, .nav>li:hover>a, .nav>li>a:hover, .nav>li>a:focus, .nav>li>a:hover {
      color: $body;
      background-color: transparent !important;
    }
  }
  div.inner.border-color-#{$color-class} {
    border: 1px solid #{$background-color};
    padding-bottom: 30px;
    h2, h3 {
      background-color: #{$background-color};
      color: $header;
      font-family: $sans-serif-font-stack;
      font-weight: $sans-serif-roman;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 1em;
      padding: 20px 24px;
      margin-bottom: 20px;
      text-transform: uppercase;
      a, a:link, a:active, a:visited {
        color: $link !important;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p, h4, h5, h6 {
      padding-left: 24px;
      padding-right: 24px;
    }
    ul, ol {
      padding-left: 36px;
      padding-right: 24px;
    }
  }
}

.background-color-ffffff {
  -webkit-box-shadow: 0 1px 1px 0 rgba(17,21,23,0.15);
  -moz-box-shadow: 0 1px 1px 0 rgba(17,21,23,0.15);
  box-shadow: 0 1px 1px 0 rgba(17,21,23,0.15);
}

// Background gradients
.gradient-top:before {
  @include background-gradient-top(0.6,50%);
}

.gradient-bottom:before {
  @include background-gradient-bottom(0.6,50%);
}

// Columns

ul.columns {
  list-style-type: none;
  padding-left: 0;
  column-gap: 30px;
  li {
    line-height: $p-line-height;
    margin: 0;
    margin-bottom: 16px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
  }
  &.columns-2 {
    column-count: 2;
    @include media-breakpoint-down(xs) {
      column-count: 1;
    }
  }
  &.columns-3 {
    column-count: 3;
    @include media-breakpoint-down(sm) {
      column-count: 2;
    }
    @include media-breakpoint-down(xs) {
      column-count: 1;
    }
  }
  &.columns-4 {
    column-count: 4;
    @include media-breakpoint-down(sm) {
      column-count: 2;
    }
    @include media-breakpoint-down(xs) {
      column-count: 1;
    }
  }
}


// Center stuff

.region-header,
.navbar .navbar-header,
.navbar .navbar-collapse,
.region-footer,
.path-search-content .region-content,
.path-search-node .region-content
// .field--name-body
{
  @include center();
}

// Blades

.field--name-field-blades {
  box-sizing: border-box;
  clear: both;
  float: left;
  width: 100%;
  > .paragraph--type--blade > .inner {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: map-get($grid-breakpoints, "lg");
    padding-left: 15px;
    padding-right: 15px;
  }

  .paragraph--type--blade {
    box-sizing: border-box;
    clear: both;
    float: left;
    position: relative;
    width: 100%;
    padding: $blade-padding;
    .border {
      margin-top: 36px;
      margin-right: auto;
      margin-left: auto;
      max-width: map-get($grid-breakpoints, "lg");
      padding: 0 15px 36px 15px;
      @include media-breakpoint-up(md) {
        padding: 0 30px 72px 30px;
      }
      .inner {
        border-top: 1px solid $border-color-dark;
        margin-top: -36px;
      }
    }
    .paragraph--type--blade {
      .border {
        padding: 0 0 36px 0;
        @include media-breakpoint-up(md) {
          padding: 0 15px 72px 15px;
        }
      }
    }
    &.equal-height {
      .paragraph--type--column .inner:not(.has-border) {
        padding: 40px 25px;
        .caption {
          position: absolute;
          bottom: 25px;
          left: 40px;
        }
      }
    }
    &.has-background {
      padding: $blade-padding-with-background;
      .border {
        .inner {
          margin-top: -72px;
        }
      }
    }
    @each $background, $foreground in $background-colors {
      $blade-class: str-replace($background, '#', '');
      &.background-color-#{$blade-class} {
        background-color: #{$background};
        p,h2,h3,h4,h5,h6,li,label {
          color: #{$foreground} !important;
        }
      }
    }
  }

  .paragraph--type--column {
    box-sizing: border-box;
    z-index: 2;
    @include media-breakpoint-up(md) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .field--name-field-body {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .column-icon {
      padding-right: 20px;
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      & {
        height: auto !important;
      }
    }
    &.no-padding {
      padding: 0 !important;
      .inner {
        padding: 0 !important;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .paragraph--type--blade:not(.equal-height) {
      .paragraph--type--column:not(.col-md-12) + .paragraph--type--column:not(.col-md-12),
      .paragraph--type--slideshow + .paragraph--type--column,
      .paragraph--type--column + .paragraph--type--slideshow {
        margin-top: 72px;
      }
    }
  }

  .paragraph--type--form {
    box-sizing: border-box;
    clear: both;
    float: left;
    margin: 40px 0 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    form {
      width: 60%;
    }
  }

  .paragraph--type--view {
    box-sizing: border-box;
    clear: both;

    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    .viewsreference--view-title {
      display: none;
    }
    .view-id-news.view-display-id-block_1 {
      .view-grid-item {
        box-sizing: border-box;
        float: left;
        width: 100%;
        @include media-breakpoint-up(sm) {
          width: 50%;
        }
        article {
          background-size: cover;
          height: 0;
          padding-bottom: 100%;
          position: relative;
          width: 100%;
          @each $background, $foreground in $background-colors {
            $blade-class: str-replace($background, '#', '');
            &.background-color-#{$blade-class} {
              background-color: #{$background};
              p,h2,h3,h4,h5,h6,li,label {
                color: #{$foreground} !important;
              }
            }
          }
          .content, .topic {
            box-sizing: border-box;
            position: absolute;
          }
          .content {
            left: 0;
            right: 0;
            bottom: 0;
            padding: 32px 15px;
            z-index: 2;
            @include media-breakpoint-up(md) {
              padding: 32px;
            }
            width: 100%;
            @each $background, $foreground in $background-colors {
              $blade-class: str-replace($background, '#', '');
              &.background-color-#{$blade-class} {
                background-color: #{$background};
                p,h2,h3,h4,h5,h6,li,label {
                  color: #{$foreground} !important;
                }
              }
            }
            h3 {
              font-family: $sans-serif-font-stack;
              font-weight: $sans-serif-heavy;
              margin-top: 0;
            }
          }
          .topic {
            font-family: $sans-serif-font-stack;
            font-weight: $sans-serif-roman;
            font-size: $small-font-size;
            left: 0;
            top: 0;
            padding: 32px 15px;
            width: 100%;
            z-index: 2;
            @include media-breakpoint-up(md) {
              padding: 32px;
            }
            text-transform: uppercase;
          }
          &.white-text {
            .topic,p,h2,h3,h4,h5,h6,li,label {
              color: $white;
            }
            &::before {
              @include background-gradient-top(0.4,25%);
              z-index: 1;
            }
            &::after {
              @include background-gradient-bottom(0.3,100%);
              height: 50%;
              z-index: 1;
              top: auto;
              bottom: 0;
            }
          }
        }
        @include media-breakpoint-up(lg) {
          width: 25%;
          &.item-width-1 {
            width: 25%;
            article {
              padding-bottom: 100%;
            }
            &.item-height-1 {
              article {
                padding-bottom: 100%;
              }
            }
            &.item-height-2 {
              article {
                padding-bottom: 200%;
              }
            }
            &.item-height-3 {
              article {
                padding-bottom: 300%;
              }
            }
            &.item-height-4 {
              article {
                padding-bottom: 400%;
              }
            }
          }
          &.item-width-2 {
            width: 50%;
            &.item-height-1 {
              article {
                padding-bottom: 50%;
              }
            }
            &.item-height-2 {
              article {
                padding-bottom: 100%;
              }
            }
            &.item-height-3 {
              article {
                padding-bottom: 150%;
              }
            }
            &.item-height-4 {
              article {
                padding-bottom: 200%;
              }
            }
          }
          &.item-width-3 {
            width: 75%;
            &.item-height-1 {
              article {
                padding-bottom: 33.3333%;
              }
            }
            &.item-height-2 {
              article {
                padding-bottom: 66.6667%;
              }
            }
            &.item-height-3 {
              article {
                padding-bottom: 100%;
              }
            }
            &.item-height-4 {
              article {
                padding-bottom: 133.3333%;
              }
            }
          }
          &.item-width-4 {
            width: 100%;
            &.item-height-1 {
              article {
                padding-bottom: 25%;
              }
            }
            &.item-height-2 {
              article {
                padding-bottom: 50%;
              }
            }
            &.item-height-3 {
              article {
                padding-bottom: 75%;
              }
            }
            &.item-height-4 {
              article {
                padding-bottom: 100%;
              }
            }
          }
        }
      }
    }
  }

  .paragraph--type--accordion {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }

  .paragraph--type--grid {
    box-sizing: border-box;
    clear: both;
    float: left;
    margin: 0;
    padding-bottom: 72px;
    @include media-breakpoint-down(sm) {
      padding-top: 21px;
    }
    width: 100%;
    .inner {
      @include center();
      padding-left: 15px !important;
      padding-right: 15px !important;
      @include media-breakpoint-down(sm) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    // Masonry grid

    .grid {
      box-sizing: border-box;
      max-width: 1200px;
    }

    /* clearfix */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }


    /* ---- grid-item ---- */

    .grid-item {
      float: left;
      position: relative;
      h2,h3,h4,h5,h6 {
        margin-top: 0;
      }
      .display-extra-large {
        font-size: 86px;
      }

      .read-more-link {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        text-align: center;
        display: none;
      }
      &.read-more {
        cursor: pointer;
        &::after {
          content: '';
          position: absolute;
          bottom: 15px;
          right: 15px;
          border-width: 16px 16px 0 0;
          border-style: solid;
          border-color: $lightgray-darken-80-opacity-30 #fff;
        }
        .read-more-link {
          display: block;
        }
      }
      .inner {
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
        &.align-top_left {
          .field .item-inner {
            text-align: left;
            vertical-align: top;
          }
        }
        &.align-no_padding {
          .field .item-inner {
            padding: 0;
            text-align: left;
            vertical-align: top;
          }
        }
      }

      .item-footer {
        position: absolute;
        bottom: -26px;
        right: 0;
        left: 0;
        text-align: center;
      }

      .field {
        display: table;
        float: left;
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        position: relative;
        -webkit-transition: all 0.25s ease-in-out;
        transition:  all 0.25s ease-in-out;
        .item-inner {
          display: table-cell;
          padding: 24px 14px;
          height: 100%;
          width: 100%;
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    $grid-column-count: (3, 4);

    @each $count in $grid-column-count {
      $grid-1: (1200/$count); // 300
      $grid-2: ($grid-1 * 2);  // 600
      $grid-2-max: ($grid-2 - 1);
      $grid-3: ($grid-1 * 3);
      $grid-3-max: ($grid-3 - 1);
      $grid-4: ($grid-1 * 4);
      $grid-4-max: ($grid-4 - 1);

      &.count-#{$count} {

        .field.field--name-field-back {
          margin-right: -#{$grid-1}px;
          border: 1px solid transparent;
          @media all and (max-width: 629px) {
            margin-right: -100% !important;
          }
          .item-inner {
            text-align: left;
            vertical-align: top;
          }
        }

        .grid-item {
          height: #{$grid-1}px;
          width: #{$grid-1}px;
          @media all and (max-width: 629px) {
            width: 100%;
          }
          p.display-extra-large {
            line-height: 1.1em;
            margin-bottom: 0;
          }
          &.open {
            .field--name-field-front {
              margin-left: -#{$grid-1}px;
              @media all and (max-width: 629px) {
                margin-left: -100%;
              }
            }
            .field--name-field-back {
              margin-right: 0;
            }
            &.read-more:after {
              display: none;
            }
          }

          &.grid-item.grid-item--width2 {
            width: #{$grid-2}px;
            .field--name-field-back {
              margin-right: -#{$grid-2}px;
            }
            @media all and (max-width: 629px) {
              width: 100%;
              .field--name-field-back {
                margin-right: -100%;
              }
            }
            &.open {
              .field--name-field-front {
                margin-left: -#{$grid-2}px;
              }
              .field--name-field-back {
                margin-right: 0;
              }
            }
          }
          &.grid-item.grid-item--width3 {
            width: #{$grid-3}px;
            @media all and (max-width: 629px) {
              width: 100%;
            }
            .field--name-field-back {
              margin-right: -100%;
            }
            &.open {
              .field--name-field-front {
                margin-left: -#{$grid-3}px;
              }
              .field--name-field-back {
                margin-right: 0;
              }
            }
          }
          &.grid-item.grid-item--width4 {
            width: #{$grid-4}px;
            @media all and (max-width: 629px) {
              width: 100%;
            }
            .field--name-field-back {
              margin-right: -100%;
            }
            &.open {
              .field--name-field-front {
                margin-left: -#{$grid-4}px;
              }
              .field--name-field-back {
                margin-right: 0;
              }
            }
          }

          &.grid-item--height2 {
            height: #{$grid-2}px;
            .display-extra-large {
              font-size: 196px;
            }
          }
          &.grid-item--height3 { height: #{$grid-3}px; }
          &.grid-item--height4 { height: #{$grid-4}px; }

        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    // .paragraph--type--blade {
    //   display: inline;
    //   padding: 0 !important;
    // }
    // .paragraph--type--blade:not(.equal-height) .paragraph--type--column, .paragraph--type--slideshow {
    //   float: left;
    //   margin: 36px 0;
    //   width: 100%;
    // }

    // .paragraph--type--column + .paragraph--type--column {
    //   margin-top: 0 !important;
    // }

    // .paragraph--type--column + .paragraph--type--column,
    // .paragraph--type--slideshow + .paragraph--type--column,
    // .paragraph--type--column + .paragraph--type--slideshow{
    //   margin-top: 0 !important;
    // }
  }

}


@each $padding-type, $padding in $blade-padding-values {
  $padding-value: 0;
  @if $padding-type != 'none' {
    $padding-value: $padding * 36;
  }
  .top-padding-#{$padding-type} {
    padding-top: #{$padding-value}#{'px'} !important;
  }
  .bottom-padding-#{$padding-type} {
    padding-bottom: #{$padding-value}#{'px'} !important;
  }
}


// Page header.
.page-header {
  border: 0;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-black;
  font-size: 40px;
  margin: 0;
  padding: 0;
}


.navbar-default {
  background-color: transparent;
  border-color: $border-color;
}

.navbar-nav {
  
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}
.nav>li {
  padding-left: 20px;
  padding-right: 20px;
}
.nav>li>a {
  color: $link-color !important;
  padding: 12px 0;
  span.caret {
    display: none;
  }
}

@mixin activenav() {
  background-color: transparent !important;
  border-bottom: 3px solid $base-navy;
  color: $link-color;
  margin-bottom: -1px;
  padding-bottom: 10px;
}

.nav>li.open, .nav>li.active  {
  &>a {
    @include activenav();
  }
}

.nav>li>a:hover {
  @include activenav();
}

@include media-breakpoint-up(sm) {
  .region-navigation-collapsible {
    .nav>li {
      float: left;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    .nav>li {
      &>a {
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-heavy;
        padding: 16px 0;
      }
    }
    .nav>li.open, .nav>li.active, .nav>li:hover {
      &>a {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 16px;
      }
    }
    .region-navigation-collapsible {
      .nav>li {
        &>a {
          position: relative;
          &:after {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -12px;
            content: '';
            width: 24px;
            height: 24px;
            background: url("data:image/svg+xml;utf8,<svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M6.35355339,8.64644661 C6.15829124,8.45118446 5.84170876,8.45118446 5.64644661,8.64644661 C5.45118446,8.84170876 5.45118446,9.15829124 5.64644661,9.35355339 L11.6464466,15.3535534 C11.8417088,15.5488155 12.1582912,15.5488155 12.3535534,15.3535534 L18.3535534,9.35355339 C18.5488155,9.15829124 18.5488155,8.84170876 18.3535534,8.64644661 C18.1582912,8.45118446 17.8417088,8.45118446 17.6464466,8.64644661 L12,14.2928932 L6.35355339,8.64644661 Z' style='fill: rgba(94,112,126,0.5);'></path></svg>") no-repeat 100% 50%;
          }
        }
      }
      .nav>li.open>a:after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      ul.navbar-nav {
        border-top: 1px solid $border-color-dark;
      }
    }
  }
}

.navbar-toggle {
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 12px;
  min-height: 16px;
  .icon-bar {
    background-color: $white !important;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
  }
}
.navbar-toggle[aria-expanded="true"], .expanded .navbar-toggle {
  .icon-bar {
    transform: translate(0px, 1px) rotate(-45deg);
  }
  .icon-bar + .icon-bar {
    margin-top: 0;
    transform: translate(0px, -1px) rotate(45deg);
  }
  .icon-bar + .icon-bar + .icon-bar {
    display: none;
  }
}

.navbar {
  margin-bottom: 0;

  #eyebrow {
    background-color: $base-navy;
    color: #fff;
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-light;
    font-size: $smallest-font-size;
    letter-spacing: 0.7pt;
    height: inherit;
    position: relative;
    a {
      color: #fff;
      &:hover {
        border: 0;
      }
    }
    &>.inner {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      max-width: map-get($grid-breakpoints, "lg");
      padding-left: 30px;
      padding-right: 30px;
      .items {
        display: table;
        width: 100%;
        .item {
          display: table-cell;
          height: 36px;
          vertical-align: middle;
          width: auto;
          background: transparent;
          padding: 0;
          margin-bottom: 0;
          border-radius: 0;
        }
        .item:nth-child(2) {
          text-align: right;
          a {
            letter-spacing: 0.5pt;
            text-transform: uppercase;
          }

          &>.inner {
            display: table;
            float: right;
            padding: 0;
            &>div {
              display: table-cell;
              height: 36px;
              vertical-align: middle;
            }
            div>a {
              padding-left: 20px;
              padding-right: 20px;
              text-decoration: none !important;
            }
            ul.menu.nav {
              padding: 8px 0;
              li:hover {
                background-color: $base-navy;
              }
              &::before {
                color: $white;
                content: 'Information for:';
                display: block;
                font-size: $smallest-font-size;
                padding: 12px 24px;
                text-align: left;
              }
              a {
                margin-bottom: 0 !important;
                text-transform: none;
                &:hover {
                  border: none;
                }
              }
              li.active {
                background-color: $base-navy;
                a {
                  border: none;
                }
              }
            }
          }
        }
      }
    }

    .give {
      position: relative;
    }

    .quick-links:after, .give:after {
      background-color: $quick-link-hover-color;
      content: '';
      display: block;
      height: 26px;
      position: absolute;
      left: auto;
      right: 0;
      top: 5px;
      width: 1px;
    }

    .quick-links {
      padding-right: 16px;
      position: relative;
      z-index: 100;
      & > svg {
        cursor: pointer;
        position: absolute;
        height: 24px;
        margin-top: -13px;
        width: 24px;
        top: 50%;
        right: 10px;
        path {
          fill: $white;
        }
      }
      &.expanded {
        &:before, &:after {
          display: none;
        }
      }
      ul.menu.nav {
        background: $navy-darken-4;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 260px;
        li {
          padding: 0;
        }
        li>a {
          background-color: transparent !important;
          color: $white !important;
          display: block;
          font-size: $base-font-size;
          padding: 12px 24px;
          text-align: left;
          &:hover, &:active, &:visited {
            background-color: $quick-link-hover-color;
          }
        }
        li:nth-child(n+6) {
          display: none;
        }
      }

      &.expanded {
        background: $navy-darken-4;
        svg path {
          fill: #fff !important;
        }
        a {
          color: #fff !important;
        }
        &>svg {
          transform: rotate(180deg);
        }
        ul.menu.nav {
          display: block;
          svg {
            display: inline-block;
            margin: 0 4px;
            path {
              fill: $white;
            }
          }
        }
      }

    }

    .search {
      .toggle-button {
        cursor: pointer;
        padding-left: 13px;
        padding-right: 13px;
        display: table-cell;
        height: 36px;
        vertical-align: middle;
      }
      svg {
        height: 24px;
        margin-top: 3px;
        width: 24px;
        &.arrow {
          margin-left: -4px;
        }
        path {
          fill: $white;
        }
      }
    }

    .block-search-form-block {
      background: $navy-lighten-10-desat-10;
      display: none;
      height: auto;
      margin-top: -1px;
      padding-bottom: 40px;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      text-align: center;
      width: 100%;
      z-index: 100;
      form {
        @include center();
        padding-top: 40px;
        div.form-item {
          display: block;
          height: 1px;
          width: 100%;
        }
        .input-group {
          display: block;
          height: auto;
          position: relative;
          width: 100%;
          input.form-control {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $white-opacity-50;
            -webkit-border-radius: 0;
            border-radius: 0;
            box-shadow: none;
            float: none;
            font-size: $search-font-size;
            letter-spacing: 0.5pt;
            padding-left: 50px;
            padding-bottom: 5px;
            color: $white;
            placeholder: $white-opacity-50;
          }
          .input-group-btn {
            position: absolute;
            left: 0;
            bottom: 6px;
            button.btn-primary {
              background-color: transparent;
              border: 0;
              border-radius: 0;
              height: 36px;
              width: 36px;
              background: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M15.2397415,16.6539551 C14.1023202,17.4996184 12.6929286,18 11.1666667,18 C7.39272088,18 4.33333333,14.9406125 4.33333333,11.1666667 C4.33333333,7.39272088 7.39272088,4.33333333 11.1666667,4.33333333 C14.9406125,4.33333333 18,7.39272088 18,11.1666667 C18,12.6929286 17.4996184,14.1023202 16.6539551,15.2397415 L20.2071068,18.7928932 C20.5976311,19.1834175 20.5976311,19.8165825 20.2071068,20.2071068 C19.8165825,20.5976311 19.1834175,20.5976311 18.7928932,20.2071068 L15.2397415,16.6539551 Z M11.1666667,16 C13.836043,16 16,13.836043 16,11.1666667 C16,8.49729038 13.836043,6.33333333 11.1666667,6.33333333 C8.49729038,6.33333333 6.33333333,8.49729038 6.33333333,11.1666667 C6.33333333,13.836043 8.49729038,16 11.1666667,16 Z' style='fill: #ffffff;'></path></svg>") no-repeat;
            }
            span.icon {
              display: none;
            }
          }
        }
      }
      .more-search {
        display: block;
        height: auto;
        margin-top: 40px;
        padding-top: 40px;
        text-align: center;
        width: 100%;
        .inner {
          @include center();
          display: block;
          float: none;
          height: auto;
          div {
            display: block;
            height: auto;
            text-align: left;
            p {
              font-size: $small-font-size;
            }
            p:nth-child(1) {
              font-size: $smallest-font-size;
              margin-bottom: 0;
            }
            p a {
              text-transform: none !important;
              font-family: $sans-serif-font-stack;
              font-weight: $sans-serif-light;
              font-size: $small-font-size;
              letter-spacing: 1pt !important;
            }
            a {
              font-family: $sans-serif-font-stack;
              font-weight: $sans-serif-medium;
              font-size: $base-font-size;
              text-decoration: underline;
              text-transform: none;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .search.expanded {
      background-color: $navy-lighten-10-desat-10;
      svg path {
        fill: #fff !important;
      }
      svg.arrow {
        transform: rotate(180deg);
      }
      .block-search-form-block {
        display: block;
      }
    }
    a.edu-link {
      letter-spacing: 0.5pt;
    }
    &.search-expanded {
      .quick-links:after {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    #eyebrow + .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    & {
      border: 0;
    }
  }
  .navbar-btn {
    margin: 0;
  }
  .navbar-header {
    .region-navigation {
      border-bottom: 1px solid $border-color;
      padding: 40px 0 16px 0;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      .logo, .logo.logo-size-0 {
        img, svg {
          width: auto;
          height: 24px;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          vertical-align: baseline;
          path {
            fill: $base-navy;
          }
        }
        &.logo-size-1 {
          img, svg {
            height: 60px;
          }
        }
        &.logo-size-2, &.logo-size-3 {
          img, svg {
            height: 100px;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      background-color: $base-navy;
      position: fixed;
      top: 0;
      height: auto;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 100;
      .region-navigation {
        // Mobile
        float: left;
        padding-top: 20px;
        padding-bottom: 16px;
        border-bottom: 0;
        .logo, .logo.logo-size-0 {
          padding-left: 0;
          padding-right: 0;
          img, svg {
            height: 16px;
            width: auto;
          }
          &.logo-size-1 {
            img, svg {
              height: 40px;
            }
          }
          &.logo-size-2 {
            img, svg {
              height: 50px;
            }
          }
          &.logo-size-3 {
            img, svg {
              height: 70px;
            }
          }
        }
      }
    }
  }
  .block-search-form-block {
    display: none;
    @include media-breakpoint-down(xs) {
      background-color: $white;
      margin: 0 -15px;
      display: block !important;
      .btn.btn-primary {
        display: inline-block;
        background-color: transparent !important;
        margin: 0 15px 0 0;
        padding: 0;
        width: 24px;
        height: 24px;
        border: 0;
        background: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M15.2397415,16.6539551 C14.1023202,17.4996184 12.6929286,18 11.1666667,18 C7.39272088,18 4.33333333,14.9406125 4.33333333,11.1666667 C4.33333333,7.39272088 7.39272088,4.33333333 11.1666667,4.33333333 C14.9406125,4.33333333 18,7.39272088 18,11.1666667 C18,12.6929286 17.4996184,14.1023202 16.6539551,15.2397415 L20.2071068,18.7928932 C20.5976311,19.1834175 20.5976311,19.8165825 20.2071068,20.2071068 C19.8165825,20.5976311 19.1834175,20.5976311 18.7928932,20.2071068 L15.2397415,16.6539551 Z M11.1666667,16 C13.836043,16 16,13.836043 16,11.1666667 C16,8.49729038 13.836043,6.33333333 11.1666667,6.33333333 C8.49729038,6.33333333 6.33333333,8.49729038 6.33333333,11.1666667 C6.33333333,13.836043 8.49729038,16 11.1666667,16 Z' style='fill: rgba(94,112,126,0.5);'></path></svg>") no-repeat;
        span {
          display: none;
        }
      }
      form {
        .form-item {
          margin-bottom: 0 !important;
        }
        .form-control {
          border: 0;
        }
      }

    }
  }

  .region-navigation-quicklinks, .more-search-options, .navbar-collapse .utility-bar {
    clear: both;
    display: none;
    width: 100%;
    .nav>li {
      padding-left: 0;
      padding-right: 0;
    }
    @include media-breakpoint-down(xs) {
      border-top: 1px solid $border-color-dark;
      display: block;
      margin-left: -15px;
      margin-right: -15px;
      padding: 15px;
      width: auto;
      ul {
        column-count: 2;
        li {
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
          list-style-type: none;
          a {
            font-family: $sans-serif-font-stack;
            font-weight: $sans-serif-roman;
            svg {
              display: inline-block;
              margin: 0 4px;
              path {
                fill: $base-navy;
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .more-search-options {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .navbar-collapse {
      border-top: 0;
      background: $base-navy;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 -15px 0 -15px;
      max-height: 10000px;
      // overflow: hidden;
      -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
      box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
      .more-search {
        display: none;
      }
    }
  }
}

@each $background in $background-colors {
  $background-color:  nth($background , 1);
  $color-class: str-replace($background-color, '#', '');
  $colors: nth($background, 2);
  $display:       #{nth($colors, 1)};
  $header:        #{nth($colors, 2)};
  $body:          #{nth($colors, 3)};
  $link:          #{nth($colors, 4)};
  $caption:       #{nth($colors, 5)};
  .utility-bar-color-#{$color-class}  {
    .navbar #eyebrow {
      background-color: #{$background-color} !important;
      a, a:link, a:active, a:visited, .read-more-link {
        &:not(.btn) {
          color: $body;
        }
      }
      svg path {
        fill: $body;
      }
    }
    @include media-breakpoint-down(xs) {
      .navbar .navbar-header  {
        background-color: #{$background-color} !important;
        .region-navigation .logo svg path {
          fill: $body;
        }
        .navbar-toggle .icon-bar {
          background-color: $base-white !important;
        }
      }
    }
  }
}

body.navbar-is-fixed-top {
  margin-top: 0;
}

@include media-breakpoint-up(sm) {
  body.scroll {
    .navbar {
      .navbar-header {
        .region-navigation {
          padding-top: 16px;
          padding-bottom: 10px;
          .logo, .logo.logo-size-0 {
            svg, img {
              height: 16px;
            }
            &.logo-size-1 {
              img, svg {
                height: 50px;
              }
            }
            &.logo-size-2 {
              img, svg {
                height: 80px;
              }
            }
             &.logo-size-3 {
              img, svg {
                height: 80px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {

  .navbar-fixed-top {
    display: inline;
    position: relative;
    right: auto;
    left: auto;
  }
}


a.logo.pull-left {
  text-align: left;
  float: none !important;
  &:hover {
    border: 0;
  }
}

.secondary-navigation {
  .block-inner {
    @include center();
  }
  .block {
    padding: $blade-padding;
    p {
      margin-bottom: 0;
    }
    &.image-position-left {
      .field--name-field-image {
        float: left;
        margin-right: 30px;
      }
    }
    &.image-position-right {
      .field--name-body {
        float: left;
      }
      .field--name-field-image {
        float: right;
      }
    }
  }
  nav {
    background-color: $background-gray;
    position: relative;
    ul {
      @include center();
      @include media-breakpoint-up(md) {
        padding-left: 15px !important;
      }
      li {
        a {
          border-bottom: none !important;
          float: left;
          margin: 0 40px 0 0;
          margin-bottom: 0 !important;
          z-index: 1;
          padding-bottom: 12px !important;
        }
        @include media-breakpoint-down(xs) {
          display: none;
          padding-left: 0;
          a {
            float: none;
            margin-left: 0;
          }
          &:nth-child(1) {
            display: block;
            a {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .subnav-toggle {
    display: none;
  }
  @include media-breakpoint-down(xs) {
    ul {
      padding: 0 0 0 0;
    }
    .subnav-toggle {
      background: url("data:image/svg+xml;utf8,<svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M6.35355339,8.64644661 C6.15829124,8.45118446 5.84170876,8.45118446 5.64644661,8.64644661 C5.45118446,8.84170876 5.45118446,9.15829124 5.64644661,9.35355339 L11.6464466,15.3535534 C11.8417088,15.5488155 12.1582912,15.5488155 12.3535534,15.3535534 L18.3535534,9.35355339 C18.5488155,9.15829124 18.5488155,8.84170876 18.3535534,8.64644661 C18.1582912,8.45118446 17.8417088,8.45118446 17.6464466,8.64644661 L12,14.2928932 L6.35355339,8.64644661 Z' style='fill: rgba(94,112,126,0.5);'></path></svg>") no-repeat 100% 50%;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      width: 24px;
      height: 24px;
      z-index: 2;
    }
  }

  &.expanded {
    nav ul li {display: block;}
    nav {
      @include media-breakpoint-down(xs) {
        .subnav-toggle {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg)
        }
      }
    }
  }
}

.breadcrumb {
  background-color: transparent;
  color: $lightgray-darken-60;
  font-size: $smallest-font-size;
  margin: 16px 0 80px 0;
  padding: 0;
}

.content-header {
  .subtitle {
    margin-top: 16px;
  }
  &.has-background {
    position: relative;
    margin-top: -1px;
    padding: 40px 0;
    .breadcrumb {
      display: none;
    }
  }
}

// Hero video
.hero-video {
  text-align: center;
  video {
    width: 100%;
    height: auto;
  }
}

// Hero image

$hero-image-height: (480,500,600,720,780,960,1200,1440,1560,1920);
.hero-image, .background-image {
  @each $hero-class in $hero-image-height {
    $mobile-hero-image-height: $hero-class / 2;
    $large-hero-image-height: ($hero-class / 1680) * 100;
    $padding-bottom: $hero-class;
    &.height-#{$hero-class} {
      height: #{$mobile-hero-image-height}#{'px'};
      background-size: auto #{$mobile-hero-image-height}#{'px'};
      background-position: 50% 0;
      -webkit-transition: background-position 500ms ease;
      -moz-transition: background-position 500ms ease;
      -o-transition: background-position 500ms ease;
      @include media-breakpoint-up(sm) {
        background-position: 50% 0;
        height: #{$hero-class}#{'px'};
        background-size: auto #{$hero-class}#{'px'};
      }
      @include media-breakpoint-up(xl) {
        background-size: cover !important;
        height: 0 !important;
        padding-bottom: #{$padding-bottom}px !important;
      }
    }
  }
}
.background-image {
  @each $hero-class in $hero-image-height {
    &.height-#{$hero-class} {
      @include media-breakpoint-up(xl) {
        $padding-bottom: $hero-class - 72;
        padding-bottom: #{$padding-bottom}px !important;
      }
    }
  }
}




// Forms
form {
  .form-group, .form-type-textarea {
    margin-bottom: 40px;
  }
  .form-control {
    border-color: $lightgray-darken-45-opacity-50;
    height: auto;
    padding: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
      -webkit-box-shadow: none;
      border-color: $base-info-blue;
      box-shadow: none;
    }
  }
  label {
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-black;
    font-size: $h5-font-size;
    letter-spacing: 0.8pt;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .select-wrapper:after {
    background: url("data:image/svg+xml;utf8,<svg widht='100%' height='100%' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M12,12.5857864 L8.70710678,9.29289322 C8.31658249,8.90236893 7.68341751,8.90236893 7.29289322,9.29289322 C6.90236893,9.68341751 6.90236893,10.3165825 7.29289322,10.7071068 L11.2928932,14.7071068 C11.6834175,15.0976311 12.3165825,15.0976311 12.7071068,14.7071068 L16.7071068,10.7071068 C17.0976311,10.3165825 17.0976311,9.68341751 16.7071068,9.29289322 C16.3165825,8.90236893 15.6834175,8.90236893 15.2928932,9.29289322 L12,12.5857864 Z'></path></svg>") no-repeat;
    content: '' !important;
    font-family: none;
    margin-top: -12px;
    margin-right: 16px;
    height: 24px;
    width: 24px;
  }
  .form-required:after {
    display: none;
  }
  .panel {

    &.captcha {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0;
      .panel-heading {
        display: none;
      }
      .panel-body {
        padding: 0;
      }
    }
  }
}

// Buttons

.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size: $base-font-size;

  &.btn-default {
    background-color: $button !important;
    color: $white !important;
    &:hover {
      background-color: $button-hover !important;
      border: 0;
    }
    &.active, &:active {
      background-color: $button-default-active !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &.btn-secondary {
    border: 2px solid $button !important;
    color: $button !important;
    padding: 16px 52px;
    &:hover {
      border-color: $button-hover !important;
      color: $button-hover !important;
    }
    &.active, &:active {
      border-color: $button-default-active !important;
      color: $button-default-active !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &.btn-white, &.btn-tertiary {
    border: 1px solid $button-tertiary-border !important;
    padding: 17px 53px;
    color: $button !important;
    &:hover {
      background-color: #d4e3f0 !important;
    }
    &.active, &:active {
      background-color: $button-tertiary-active !important;
      border-color: $button-disabled-border !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &.btn-sm {
    padding: 12px 34px;
    &.btn-secondary {
      padding: 10px 32px;
    }
    &.btn-tertiary, &.btn-white {
      padding: 11px 33px;
    }
  }
  &.disabled {
    background-color: $button-disabled-background !important;
    border: 1px solid $button-disabled-border !important;
    color: $button-disabled !important;
    padding: 19px 55px !important;
    &.btn-sm {
      padding: 11px 33px !important;
    }
  }
}


// Footer.
footer
header {
  padding-left: 0;
  padding-right: 0;
}

footer {
  background-color: $base-navy !important;
}

.footer {
  border-top: 0 !important;
  padding-top: 35px !important;
  padding-bottom: 36px !important;

  > div {
    margin-left: 15px;
    margin-right: 15px;
  }

  div, p, h4, h5, h6, a {
    border-color: $white;
    color: $white !important;
  }

  .seal {
    border-bottom: 1px solid $white-opacity-50;
    height: 116px;
    margin-bottom: 16px;

    svg {
      display: block;
      height: 100px;
      width: 100px;
    }
  }
  .ucsb-wordmark {
    border-bottom: 1px solid $white-opacity-50;
    height: 50px;
    margin-bottom: 16px;

    svg {
      fill: $white;
      display: block;
      height: auto;
      width: 250px;
      padding-top: 20px;
    }
  }
  .contact-info {
    line-height: 28px;
  }
  p.label {
    border-bottom: 1px solid $white-opacity-50;
    font-size: 1rem;
    margin-top: 19px;
    padding-bottom: 2px;
  }
  li {
    svg {
      fill: $white;
      margin-right: 6px;
      margin-bottom: -2px;
      vertical-align: text-bottom;
    }
  }
}

.footer-bottom {
  @include media-breakpoint-up(md) {
    padding: 16px 20px 48px 20px;
  }

  background-color: $navy-darken-4;
  font-size: $smallest-font-size;
  margin: 0;
  padding: 16px 0 48px 0;
  width: 100%;

  span, p, a {
    border-color: $white;
    color: $white !important;
  }

  span, a.terms {
    display: inline-block;
    margin-right: 16px;
  }
  .weather {
    padding-top: 16px;
    @include media-breakpoint-up(sm) {
      padding-top: 0;
      text-align: right;
    }
  }
}

// Articles
.page-node-type-blog-post .region.region-content, .page-node-type-alert .region.region-content,
.page-node-type-article .region.region-content, .page-node-type-alert .region.region-content, .page-node-type-spotlight .region.region-content, .paragraph.article > .inner  {
    @include center();
    .field--name-body, .field--name-field-body {
      @include media-breakpoint-up(sm) {
        h1,h2,h3,h4,h5,h6,p,ul,ol {
          padding-right: 33.3333%;
        }
      }
      p.image-right {
        color: $lightgray-darken-45;
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-roman;
        font-size: 12px;
        line-height: 18px;
        img {
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        @include media-breakpoint-up(sm) {
          padding: 0 0 0 30px;
          float: right;
          width: 33.3333%;
        }
      }
      blockquote {
        @include media-breakpoint-up(sm) {
          float: right;
          margin-left: 30px;
          max-width: 30%;
          h1,h2,h3,h4,h5,h6,p,ul,ol {
            padding-right: 0;
          }
          p.caption {
            margin-top: 66px;
          }
        }
      }
    }
    .field--name-field-image {
      margin-bottom: 36px;
    }

}

.paragraph.article > .inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page-node-type-blog-post, .page-node-type-article, .page-node-type-alert, .page-node-type-spotlight {
  .field--name-body {
    margin-top: 0;
    margin-bottom: 72px;
  }
  .secondary-navigation {
    .field--name-body {
      margin-bottom: 0;
    }
  }
}

.paragraph--type--blade {
  div.article {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-node-type-article, .page-node-type-blog-post {
  .article-header {
    margin-top: 36px;
    .inner {
      @include center();
    }
    .article-image {
      position: relative;
      float: left;
      width: 100%;
      img {
        position: relative;
        z-index: 2;
      }
      &:after {
        content: '';
        position: absolute;
        background-color: $background-gray;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }
    .article-teaser {
      background-color: $background-gray;
      padding-top: 36px;
      padding-bottom: 72px;
      margin-bottom: 36px;
      float: left;
      width: 100%;
      .inner span.serif {
        @extend .display-medium;
        color: $base-navy;
        line-height: 50px;
        display: block;
        width: 66.6666%;
      }
    }
  }
  .field--name-body {
    p:first-child {
      @extend .lead;
    }
  }
  footer.byline {
    border-left: 2px solid $base-navy;
    margin-bottom: 36px;
    padding-left: 16px;
  }
  .field--name-field-topics {
    border-top: 1px solid $border-color-dark;
    padding-top: 72px;
    margin-bottom: 144px;
    h2 {
      font-size: $h3-font-size;
      margin-top: 0;
      margin-bottom: 24px;
    }
    .field--item {
      display: inline-block;
      font-size: $h3-font-size;
      a:after {
        content: ',';
      }
      &:last-child {
        a:after {
          display: none;
        }
      }
    }
  }
}

// Blog

.view-blog-main {
  float: left;
  margin-bottom: 108px;
  width: 100%;

  .blog-title, .feature-label {
    color: $lightgray-darken-45;
    font-size: $h2-font-size;
    font-weight: $sans-serif-black;
  }

  .blog-description {
    p {
      @extend .lead;
    }
    padding: 30px 0 0 0;
    @include media-breakpoint-up(sm) {
      width: 66%;
    }
  }

  .views-row {
    border-top: 1px solid $border-color-dark;
    float: left;
    width: 100%;
    clear: both;
    margin-top: 60px;
    padding-top: 24px;
    article {
      float: left;
      width: 100%;
      &.top-padding-1 {
        padding-top: 0 !important;
      }
      &.has-image {
        &.top-padding-1 {
          padding-top: 36px !important;
        }
        @include media-breakpoint-up(sm) {
          .article-image {
            float: left;
            width: 40%;
          }
          .article-content {
            border-left: 0;
            float: left;
            padding-left: 40px;
            padding-right: 40px;
            width: 60%;
          }
        }
      }
      h2 {
        @extend .display-medium;
        font-family: $produkt-font-stack;
        font-weight: $produkt-light;
        margin-bottom: 36px;
      }
      .article-content {
        border-left: 4px solid $base-navy;
        padding-left: 40px;
        @include media-breakpoint-up(sm) {
          padding-right: 100px;
        }
        .author {
          @extend .caption;
        }
        .field--name-body, .field--name-body p {
          @extend .lead;
          margin-bottom: 20px;
        }
        .field--name-field-topics {
          .field--item {
            @extend .small;
            display: inline-block;
            margin-right: 12px;
          }
        }
      }
    }
  }

  &.blog-topics {
    .views-row:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }

  .featured-post {
    float: left;
    width: 100%;
    .views-row {
      article {
        &.has-image {
          @include media-breakpoint-up(sm) {
            .article-image {
              width: 50%;
            }
            .article-content {
              width: 50%;
            }
          }
        }
        .article-content .blog-title {
          display: none;
        }
      }
    }
  }

  .view-area {
    clear: both;
  }

  .topics-filter {
    float: left;
    margin-top: 72px;
    width: 100%;
  }

  form#blog-topic-filter {
    label {
      font-family: $sans-serif-font-stack;
      font-weight: $sans-serif-black;
      margin-right: 20px;
    }
    .select-wrapper {
      margin-right: 20px;
      width: auto;
      select {
        padding-right: 60px;
      }
    }
    .form-actions {
      display: inline-block;
      .btn.btn-sm {
        padding: 8px 34px;
      }
    }
  }

  .blog-teasers {
    padding-top: 72px;
    .views-element-container:first-child {
      .views-row {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

.path-blog[class*=' path-blog-'], .path-topic,   {
  main {
    background-color: $background-gray;
  }
}
.path-blog.single-blog {
  main {
    background-color: transparent !important;
  }
}

.topics-list {
  background-color: $navy-lighten-10-desat-10;
  float: left;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 144px;
  .inner {
    @include center;
    h2, a {
      color: #ffffff;
    }
    h2 {
      box-sizing: border-box;
      padding-right: 30px;
      margin-top: 0;
      float: left;
      width: 33.3333%;
    }
    .rows {
      padding-top: 4px;
      float: left;
      width: 66.6666%;
      .views-row {
        display: inline-block;
        font-size: $h3-font-size;
        line-height: 30px;
        a {
          text-decoration: underline;
          &:after {
            content: ',';
          }
          &:hover {
            text-decoration: none;
          }
        }
        &:last-child {
          a:after {
            display: none;
          }
        }
      }
    }
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-lg;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  display: none !important;
  color: $gray-600;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// Navigation

body:not(.toolbar-tray-open) {
  .nav > li.dropdown.open {
    position: static;
    .dropdown-menu {
      transform: translate3d(0px,0px,0px);
      display: table;
      width: 100%;
      text-align: left;
      left: 0;
      right: 0;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 20px !important;
      background-color: $white;
      padding-bottom: 16px;
      .dropdown-menu {
        padding-left: 0 !important;
      }
      &:nth-child(1) {
        border-top: 1px solid $border-color-dark;
        margin-top: -1px;
      }
    }
  }
}

body.toolbar-tray-open {
  .nav > li.dropdown.open {
    ul.dropdown-menu {
      padding-left: 0 !important;
    }
  }
}

.navbar {
  .navbar-header {
    float: none;
    width: 100%;
  }
}

.dropdown-menu {
  background-color: $background-gray;
  border: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.175);
  box-shadow: 0 2px 5px rgba(0,0,0,0.175);
  padding: 16px 0 30px 0;
  margin-top: 1px !important;
  ul {
    @media all and (min-width: 1039px) {
      display: inline-block;
    }
    padding-right: 20px;
    vertical-align: top;
    li {
      list-style-type: none;
      padding: 11px 0 10px 0;
      white-space: nowrap;
      a {
        color: $link-color-light;
        display: inline-block;
        font-size: $base-font-size;
        padding-bottom: 1px;
        &:hover {
          border-bottom: 1px solid $link-color-hover;
          color: $link-color-hover;
          padding-bottom: 0;
          text-decoration: none;
        }
      }
    }
    @include media-breakpoint-up(sm) {
      &:nth-child(1) {
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-heavy;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
    ul {
      display: block;
    }
  }
}


// Tables

table {
  border: none;
  width: 100% !important;
  th, td {
    border: none;
  }
  th {
    font-size: $smallest-font-size;
    text-transform: uppercase;
  }
  thead {
    th, td {
      border-bottom: 1px solid $border-color-dark;
      padding: 3px 15px 3px 0;
    }
  }
  tbody {
    td {
      padding: 5px 15px 5px 0;
    }
  }
  thead + tbody {
    tr:nth-child(1) {
      td {
        padding-top: 12px;
      }
    }
  }
}


.table>thead>tr>th {
  border-bottom: 1px solid $border-color-dark;
  color: #333333;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-roman;
  font-size: $smallest-font-size;
  padding: 4px 30px 4px 0;
  text-transform: uppercase;
}
.table>tbody>tr>td {
  border-bottom: 1px solid $border-color;
  padding: 8px 30px 8px 0;
}
.table-striped>tbody>tr:hover {
  background-color: transparent;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: transparent;
}

// Views

.view-faculty-and-alumni {
  @include center();
  .view-content {
    margin-left: -15px;
    margin-right: -15px;
    .views-col {
      padding: 0 15px;
      h3 {
        margin-top: 16px;
      }
    }
  }
  .wrapper {
      display: block;
      float: left;
      padding-bottom: 72px;
      width: 100%;
  }
}


div:not(.field--name-field-view) {
  .region-content>.views-element-container {
    @include center();
  }
}


// Pager

nav.pager-nav {
  clear: both;
  padding-top: 72px;
  .pagination {
    a {
      background-color: transparent !important;
      border: none !important;
      padding: 6px 8px  !important;
      text-decoration: underline !important;
      &:hover {
        text-decoration: none !important;
      }
    }
    li.active {
      a {
        color: $lightgray-darken-60 !important;
        text-decoration: none !important;
      }
    }
    li.pager__item--first, li.pager__item--previous, li.pager__item--next, li.pager__item--last {
      padding: 0 10px !important;
      a {
        text-decoration: none !important;
        border: 2px solid $button-hover !important;
        margin: 0 8px !important;
        padding: 6px 17px !important;
      }
    }
    li.pager__item--previous {
      a {
        margin-right: 24px !important;
      }
    }
    li.pager__item--next {
      a {
        margin-left: 24px !important;
      }
    }
  }
}


.view-id-atoz {
  h2 {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(xs) {
    .table-responsive {
      border: 0;
      table {
        display: block;
      }
      table>thead {
        display: none;
      }
      >table>tbody>tr {
        display: inline;
        &>td {
          display: block;
          white-space: normal;
          border: 0;
        }
      }
      td.views-field-title {
        border-top: 1px solid $border-color;
        padding-top: 16px;
        padding-bottom: 0;
      }
      tbody>tr:nth-child(1)>td.views-field-title {
        border-top: 0;
      }
      td.views-field-title + td {
        padding-bottom: 16px;
      }
    }
  }

  .view-id-atoz.view-display-id-attachment_2 {
    padding: 72px 0;
    span {
      a {
        background-color: $lightgray-lighten-6;
        border: none !important;
        color: $lightgray-darken-80;
        display: inline-block;
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-heavy;
        font-size: $h3-font-size;
        line-height: $h3-font-size;
        padding: 10px 0 8px;
        margin-bottom: 4px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        &:hover, &.is-active {
          background-color: $base-gold;
        }
      }
    }
  }
  .table {
    margin-bottom: 112px;
  }
  .table>thead>tr>th:nth-child(1) {
    width: 30%;
  }
  .table>tbody>tr>td:nth-child(1) {
    p {
      font-weight: $sans-serif-black;
      line-height: normal !important;
    }
  }
}

.is-atoz {
  .view-id-atoz {
    .view-id-atoz.view-display-id-attachment_2 {
      span:nth-child(1) a {
        background-color: $base-gold;
      }
    }
  }
  ol.breadcrumb {
    li:nth-child(2) {
      display: none;
    }
  }
}

// Slideshow

.carousel {
  @include media-breakpoint-up(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .carousel-indicators {
    bottom: auto;
    li {
      background-color: $base-lightgray;
      border: 0;
      border-radius: 0;
      margin: 0 2px;
      width: 24px;
      height: 6px;
      &.active, &:hover {
        background-color: $base-navy;
      }
    }
  }
  a.carousel-control {
    margin-top: -30px;
    opacity: 0.3;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition:  opacity 0.1s ease-in-out;
    &.left, &.right {
      background-image: none;
      bottom: auto;
      &:hover {
        border: none !important;
        opacity: 1;
      }
      svg {
        fill: $white;
      }
    }
  }
  &:hover {
    .carousel-control {
      opacity: 0.6;
    }
  }
  .paragraph--type--slide {
    .field--name-field-body {
      padding-top: 40px;
      p {
        font-size: $smallest-font-size;
        line-height: 1.8em;
        margin-bottom: 0;
      }
    }
  }
}

// Accordion

.panel-group {
  border-top: 1px solid $base-gold;
  margin-bottom: 0;
  .panel + .panel {
    margin-top: 0;
  }
  .panel, .panel.panel-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $base-gold;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    > .panel-heading {
      background-color: transparent;
      border: none !important;
      padding: 16px 0;
      .panel-title {
        padding: 0;
        margin: 0;
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-heavy;
      }
      p {
        font-weight: $sans-serif-heavy;
        margin-bottom: 0;
        a {
          color: $link-color-light;
          text-decoration: none;
        }
      }
    }
    > .panel-heading + .panel-collapse>.panel-body {
      border-top: none;
      padding: 0 0 16px 0;
    }
  }
}

// Alerts

header .alert {
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}

main .alert {
  @include center();
  max-width: 1170px;
  margin: 20px auto;
}

.region-alert {
  display: none;
  &.loaded {
    display: block;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 -15px;
  }
}

.region-alert .alert {
  border-radius: 0;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding: 40px 0;
  .inner {
    @include center();
  }
  svg {
    width: 196px;
    height: 14px;
    fill: $base-navy;
  }
  a:hover {
    border-bottom: none !important;
  }
  .close-alerts {
    text-align: right;
    a.close {
      &:after {
        background: url("data:image/svg+xml;utf8,<svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M10.5738418,12 L6.2893947,16.2844471 L6.2893947,16.2844471 C5.89887041,16.6749713 5.89887041,17.3081363 6.2893947,17.6986606 L6.2893947,17.6986606 L6.30133938,17.7106053 C6.69186367,18.1011296 7.32502865,18.1011296 7.71555294,17.7106053 L12,13.4261582 L16.2844471,17.7106053 C16.6749713,18.1011296 17.3081363,18.1011296 17.6986606,17.7106053 L17.6986606,17.7106053 L17.7106053,17.6986606 C18.1011296,17.3081363 18.1011296,16.6749713 17.7106053,16.2844471 L13.4261582,12 L17.7106053,7.71555294 C18.1011296,7.32502865 18.1011296,6.69186367 17.7106053,6.30133938 L17.7106053,6.30133938 L17.6986606,6.2893947 C17.3081363,5.89887041 16.6749713,5.89887041 16.2844471,6.2893947 L12,10.5738418 L7.71555294,6.2893947 C7.32502865,5.89887041 6.69186367,5.89887041 6.30133938,6.2893947 L6.2893947,6.30133938 L6.2893947,6.30133938 C5.89887041,6.69186367 5.89887041,7.32502865 6.2893947,7.71555294 L6.2893947,7.71555294 L10.5738418,12 Z' fill='#ffffff'></path></svg>") 100% 0 no-repeat;
      }
    }
  }
  .alert-content {
    clear: both;
    float: left;
    margin-top: 14px;
    padding: 18px 32px 24px 32px;
    width: 100%;
    h2 {
      font-family: $sans-serif-font-stack;
      font-weight: $sans-serif-medium;
      margin: 0;
    }
  }
  &.level-1 {
    background-color: $base-danger-red;
    h2, p, a:not(.btn) {
      color: $white;
    }
    a.btn.btn-default {
      background-color: $white;
      color:  $danger-red-darken-20 !important;
    }
    svg {
      fill: $white;
    }
    .alert-content {
      background-color: $danger-red-darken-20;
    }
  }
  &.level-2 {
    background-color: $base-warning-yellow;
    h2, p, a:not(.btn) {
      color: $lightgray-darken-80;
    }
    a.btn.btn-default {
      background-color: $white;
      color:  $lightgray-darken-80 !important;
    }
    svg {
      fill: $lightgray-darken-80;
    }
    .close-alerts {
      text-align: right;
      a.close {
        &:after {
          background: url("data:image/svg+xml;utf8,<svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M10.5738418,12 L6.2893947,16.2844471 L6.2893947,16.2844471 C5.89887041,16.6749713 5.89887041,17.3081363 6.2893947,17.6986606 L6.2893947,17.6986606 L6.30133938,17.7106053 C6.69186367,18.1011296 7.32502865,18.1011296 7.71555294,17.7106053 L12,13.4261582 L16.2844471,17.7106053 C16.6749713,18.1011296 17.3081363,18.1011296 17.6986606,17.7106053 L17.6986606,17.7106053 L17.7106053,17.6986606 C18.1011296,17.3081363 18.1011296,16.6749713 17.7106053,16.2844471 L13.4261582,12 L17.7106053,7.71555294 C18.1011296,7.32502865 18.1011296,6.69186367 17.7106053,6.30133938 L17.7106053,6.30133938 L17.6986606,6.2893947 C17.3081363,5.89887041 16.6749713,5.89887041 16.2844471,6.2893947 L12,10.5738418 L7.71555294,6.2893947 C7.32502865,5.89887041 6.69186367,5.89887041 6.30133938,6.2893947 L6.2893947,6.30133938 L6.2893947,6.30133938 C5.89887041,6.69186367 5.89887041,7.32502865 6.2893947,7.71555294 L6.2893947,7.71555294 L10.5738418,12 Z' fill='#111517'></path></svg>") 100% 0 no-repeat;
        }
      }
    }
    .alert-content {
      background-color: $warning-yellow-darken;
    }
  }
  &.update {
    background-color: $base-success-green;
    h2, p, a:not(.btn) {
      color: $lightgray-darken-80;
    }
    a.btn.btn-default {
      background-color: $white;
      color:  $lightgray-darken-80 !important;
    }
    svg {
      fill: $lightgray-darken-80;
    }
    .close-alerts {
      text-align: right;
      a.close {
        &:after {
          background: url("data:image/svg+xml;utf8,<svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M10.5738418,12 L6.2893947,16.2844471 L6.2893947,16.2844471 C5.89887041,16.6749713 5.89887041,17.3081363 6.2893947,17.6986606 L6.2893947,17.6986606 L6.30133938,17.7106053 C6.69186367,18.1011296 7.32502865,18.1011296 7.71555294,17.7106053 L12,13.4261582 L16.2844471,17.7106053 C16.6749713,18.1011296 17.3081363,18.1011296 17.6986606,17.7106053 L17.6986606,17.7106053 L17.7106053,17.6986606 C18.1011296,17.3081363 18.1011296,16.6749713 17.7106053,16.2844471 L13.4261582,12 L17.7106053,7.71555294 C18.1011296,7.32502865 18.1011296,6.69186367 17.7106053,6.30133938 L17.7106053,6.30133938 L17.6986606,6.2893947 C17.3081363,5.89887041 16.6749713,5.89887041 16.2844471,6.2893947 L12,10.5738418 L7.71555294,6.2893947 C7.32502865,5.89887041 6.69186367,5.89887041 6.30133938,6.2893947 L6.2893947,6.30133938 L6.2893947,6.30133938 C5.89887041,6.69186367 5.89887041,7.32502865 6.2893947,7.71555294 L6.2893947,7.71555294 L10.5738418,12 Z' fill='#111517'></path></svg>") 100% 0 no-repeat;
        }
      }
    }
    .alert-content {
      background-color: $success-green-darken-20;
      h2, p, a:not(.btn) {
        color: $white;
      }
    }
  }
  &.collapsed {
    padding: 0;
    .alert-top {
      display: none;
    }
    .alert-content {
      background-color: transparent !important;
      margin: 0;
      padding: 0;
      display: table;
      width: auto;
      h2, p, a.btn.btn-default {
        font-size: $small-font-size;
        display: table-cell;
        letter-spacing: 0.5pt;
        margin: 0;
        padding: 0;
        height: 36px;
        vertical-align: middle;
        padding-right: 4px;
        line-height: normal !important;
      }
      a.btn.btn-default {
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-roman;
        background-color: transparent;
        padding: 0 0 0 10px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.level-1 {
      background-color: $danger-red-darken-20;
      a.btn.btn-default {
        color: $white !important;
      }
    }
    &.level-2 {
      background-color: $warning-yellow-darken;
    }
    &.update {
      background-color: $success-green-darken-20;
      a.btn.btn-default {
        color: $white !important;
      }
    }
  }
}

//

a.close {
  float: none;
  font-family: $sans-serif-font-stack;
  font-weight: $sans-serif-light;
  font-size: $smallest-font-size;
  opacity: 1 !important;
  padding-right: 9px;
  text-transform: uppercase;
  text-shadow: none !important;
  span {
    display: none;
  }
  &:after {
    background: url("data:image/svg+xml;utf8,<svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M10.5738418,12 L6.2893947,16.2844471 L6.2893947,16.2844471 C5.89887041,16.6749713 5.89887041,17.3081363 6.2893947,17.6986606 L6.2893947,17.6986606 L6.30133938,17.7106053 C6.69186367,18.1011296 7.32502865,18.1011296 7.71555294,17.7106053 L12,13.4261582 L16.2844471,17.7106053 C16.6749713,18.1011296 17.3081363,18.1011296 17.6986606,17.7106053 L17.6986606,17.7106053 L17.7106053,17.6986606 C18.1011296,17.3081363 18.1011296,16.6749713 17.7106053,16.2844471 L13.4261582,12 L17.7106053,7.71555294 C18.1011296,7.32502865 18.1011296,6.69186367 17.7106053,6.30133938 L17.7106053,6.30133938 L17.6986606,6.2893947 C17.3081363,5.89887041 16.6749713,5.89887041 16.2844471,6.2893947 L12,10.5738418 L7.71555294,6.2893947 C7.32502865,5.89887041 6.69186367,5.89887041 6.30133938,6.2893947 L6.2893947,6.30133938 L6.2893947,6.30133938 C5.89887041,6.69186367 5.89887041,7.32502865 6.2893947,7.71555294 L6.2893947,7.71555294 L10.5738418,12 Z'></path></svg>") 100% 0 no-repeat;
    content: '';
    display: block;
    float: right;
    height: 24px;
    width: 24px;
  }
}

main .alert a.close {
  float: right;
}

// Weather

#weather {
  font-size: $base-font-size;
  margin-top: -6px;
  .current {
    padding-left: 20px;
    padding-right: 20px;
  }
  i {
    color: #fff;
    font-family: weather;
    font-size: 32px;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
    vertical-align: middle;
    position: relative;
  }
  .icon-0:before { content: ":"; }
  .icon-1:before { content: "p"; }
  .icon-2:before { content: "S"; }
  .icon-3:before { content: "Q"; }
  .icon-4:before { content: "S"; }
  .icon-5:before { content: "W"; }
  .icon-6:before { content: "W"; }
  .icon-7:before { content: "W"; }
  .icon-8:before { content: "W"; }
  .icon-9:before { content: "I"; }
  .icon-10:before { content: "W"; }
  .icon-11:before { content: "I"; }
  .icon-12:before { content: "I"; }
  .icon-13:before { content: "I"; }
  .icon-14:before { content: "I"; }
  .icon-15:before { content: "W"; }
  .icon-16:before { content: "I"; }
  .icon-17:before { content: "W"; }
  .icon-18:before { content: "U"; }
  .icon-19:before { content: "Z"; }
  .icon-20:before { content: "Z"; }
  .icon-21:before { content: "Z"; }
  .icon-22:before { content: "Z"; }
  .icon-23:before { content: "Z"; }
  .icon-24:before { content: "E"; }
  .icon-25:before { content: "E"; }
  .icon-26:before { content: "3"; }
  .icon-27:before { content: "a"; }
  .icon-28:before { content: "A"; }
  .icon-29:before { content: "a"; }
  .icon-30:before { content: "A"; }
  .icon-31:before { content: "6"; }
  .icon-32:before { content: "1"; }
  .icon-33:before { content: "6"; }
  .icon-34:before { content: "1"; }
  .icon-35:before { content: "W"; }
  .icon-36:before { content: "1"; }
  .icon-37:before { content: "S"; }
  .icon-38:before { content: "S"; }
  .icon-39:before { content: "S"; }
  .icon-40:before { content: "M"; }
  .icon-41:before { content: "W"; }
  .icon-42:before { content: "I"; }
  .icon-43:before { content: "W"; }
  .icon-44:before { content: "a"; }
  .icon-45:before { content: "S"; }
  .icon-46:before { content: "U"; }
  .icon-47:before { content: "S"; }
}


// Localist

ul#lwe {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  li.lwe {
    cursor: pointer;
    list-style-type: none;
    float: left;
    width: 25%;
    overflow: hidden;
    background-size: auto 100%;
    background-position: 50% 0;
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    div.lwn {
      height: 0;
      padding-bottom: 100%;
      position: relative;
      width: 100%;
      &:after {
        @include background-gradient-bottom(0.4,100%);
        z-index: 2;
        top: 50%;
      }
      img {
        display: none;
      }
      span.lwn0 {
        background-color: $base-navy;
        box-shadow: 0 2px 2px 0 rgba(17,21,23,0.2);
        color: $white;
        padding: 8px;
        position: absolute;
        left: 24px;
        top: 24px;
        text-align: center;
        width: 60px;
        z-index: 3;
        .month {
          font-size: $small-font-size;
        }
        .day {
          font-family: $sans-serif-font-stack;
          font-weight: $sans-serif-black;
          font-size: $h2-font-size;
        }
      }
      >a {
        // color: $white;
        border: 0 !important;
        color: $white !important;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 32px;
        line-height: $p-line-height;
        text-decoration: none;
        width: 100%;
        z-index: 3;
        &:before {
          color: $white;
          content: 'Event';
          display: block;
          text-transform: uppercase;
          @extend .label;
          line-height: $p-line-height;
        }
      }
    }
    div.lwl {
      display: none;
    }
  }
}

#lclst_widget_footer {
  display: none;
}

// Style guide

table.typography {
  margin: 30px 0 30px 0;
  td {
    padding: 16px 4px 16px 4px;
    vertical-align: middle;
    &:nth-child(1) {
      padding-right: 30px;
      white-space: nowrap;
    }
  }
}

// User pages

.user-login-form,
.path-user .region-content {
  @include center();
  margin-bottom: 144px;
}

.user-login-form {
  padding: 0 !important;
  margin: 36px 0 0 0;
}

// search

form.search-form {
  margin-top: 36px;
  @include media-breakpoint-up(sm) {
    width: 66.6667%;
  }
  a.search-help-link {
    display: none;
  }
  button {
    padding: 22.5px;
    width: 60px;

    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M15.2397415,16.6539551 C14.1023202,17.4996184 12.6929286,18 11.1666667,18 C7.39272088,18 4.33333333,14.9406125 4.33333333,11.1666667 C4.33333333,7.39272088 7.39272088,4.33333333 11.1666667,4.33333333 C14.9406125,4.33333333 18,7.39272088 18,11.1666667 C18,12.6929286 17.4996184,14.1023202 16.6539551,15.2397415 L20.2071068,18.7928932 C20.5976311,19.1834175 20.5976311,19.8165825 20.2071068,20.2071068 C19.8165825,20.5976311 19.1834175,20.5976311 18.7928932,20.2071068 L15.2397415,16.6539551 Z M11.1666667,16 C13.836043,16 16,13.836043 16,11.1666667 C16,8.49729038 13.836043,6.33333333 11.1666667,6.33333333 C8.49729038,6.33333333 6.33333333,8.49729038 6.33333333,11.1666667 C6.33333333,13.836043 8.49729038,16 11.1666667,16 Z' fill='#ffffff'></path></svg>");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .icon {
      display: none;
    }
  }
}
.path-search {
  .region-content {
    ol {
      @include media-breakpoint-up(sm) {
        width: 66.6667%;
      }
    }
    .pager-nav {
      margin-bottom: 72px;
    }
  }
}


// Theme-specific overrides

.path-frontpage {
  h1.page-header {
    display: none;
  }
  .paragraph {
    &.big-quote {
      float: left;
      margin-top: 100px;
      padding: 48px 80px 224px 80px;
      @include media-breakpoint-down(sm) {
        margin-top: 0;
        padding: 40px 20px;
      }
    }
    &.big-quote-caption {
      background-color: $white;
      clear: left;
      padding: 16px;
      margin-left: 66.666666%;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
      p:first-child {
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif-black;
        margin-bottom: 0;
      }
    }
    &.popular-links {
      border: 96px solid $base-gold;
      border-left: 0;
      border-right: 0;
    }
    &.first-day {
      background: url('/sites/default/files/images/home/UCSB_day1_2016-62_crop.jpg') 50% 0 no-repeat;
      background-size: auto 100%;
    }
    @media all and (max-width: 449px) {
      &.more-news-buttons {
        .btn {
          display: block;
          width: 100%;
          & + .btn {
            margin-top: 16px;
          }
        }
      }
    }
  }
}

.view-faculty-and-alumni {
  margin-top: 16px;
  .views-col {
    margin-bottom: 72px;
    @include media-breakpoint-down(sm) {
      width: 100% !important;
    }
  }
  p.caption {
    margin-bottom: 8px;
    & + p {
      padding-top: 0;
    }
  }
}

.grid-table {
  table {
    position: relative;
    border-spacing: 30px;
    border-collapse: separate;
    margin: 0 -30px 0 -30px;
    width: auto !important;
    td {
      border: 1px solid $border-color-dark;
      padding: 16px;
      vertical-align: top;
      width: 33.3333%;
      p.caption {
        margin-bottom: 6px;
        & + p {
          padding-top: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    table {
      border-spacing: 0;
      display: block;
      margin: 0;
      td {
        display: block;
        margin-bottom: 16px;
        width: 100%;
      }
    }
  }
}

.footer {
  .paragraph--type--column:nth-child(1) {
    p.label {
      margin-top: 36px;
      @include media-breakpoint-up(md) {
        margin-top: 52px;
      }
    }
  }

  .second-column {
    p.label {
      border-bottom: 1px solid $white-opacity-50;
      margin-top: 0;
      padding-top: 36px;
      @include media-breakpoint-up(md) {
        padding-top: 27px;
      }
    }
  }
  .paragraph--type--column + .paragraph--type--column {
    padding-right: 0;
  }
  .second-column + .second-column {
    padding-left: 0;
  }
}

.directory-form-container {
  @include center();
  padding-top: 36px;
  .tab {
    display: block;
    float: left;
    padding-right: 15px;
    width: 50%;
    a {
      background-color: $base-navy;
      color: $white !important;
      display: block;
      font-family: $sans-serif-font-stack;
      font-weight: $sans-serif-roman;
      font-size: $h3-font-size;
      padding: 16px 32px;
      text-decoration: none !important;
    }
    &.students {
      float: right;
      padding-right: 0;
      padding-left: 15px;
      a {
        background-color: $base-gold;
        color: $lightgray-darken-80 !important;
      }
    }
  }
  form, .form-inner {
    background-color: $base-navy;
    display: block;
    clear: both;
    padding: 72px 20px 112px 20px;
    @media all and (min-width: 800px) {
      padding: 72px 100px 112px 100px;
    }
    .form-fields {
      float: left;
      margin: 0 -10px;
      @media all and (min-width: 800px) {
        padding-bottom: 40px;
      }
    }
    .form-type-textfield {
      float: left;
      padding: 0 10px;
      margin-bottom: 40px !important;
      width: 50%;
      @media all and (min-width: 800px) {
        margin-bottom: 0 !important;
        width: 25%;
      }
    }
    p.display-medium {
      margin-bottom: 40px;
    }
    label, legend {
      display: none;
    }
    fieldset.webform-type-radios {
      clear: both;
      margin-bottom: 40px;
    }
    .form-type-radio.radio {
      display: inline-block;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 20px;
      label {
        color: $white;
        display: inline-block;
        padding-left: 0;
        font-family: $sans-serif-font-stack;
        font-weight: $sans-serif;
        font-size: $base-font-size;
        text-transform: none;
      }
      input[type="radio"] {
        position: relative;
        margin-right: 8px;
        margin-left: 0 !important;
      }
    }
    p {
      color: $white;
      span {
        display: block;
      }
    }
    #edit-q {
      margin-top: 44px;
    }
  }
  & + .disclaimer, .disclaimer {
    margin: 40px 0 72px 0;
  }
}

.directory-search-results {
  margin-bottom: 72px;
  h3 {
    margin-bottom: 44px;
  }
  td, th {
    vertical-align: top;
  }
  .name {
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-heavy;
  }
  .title {
    color: $lightgray-darken-45;
    font-size: $smallest-font-size;
    padding-top: 6px;
  }
}


.gsc-results-wrapper-nooverlay {
  margin-top: 40px;
}
.gsc-control-cse {
  border: 0 !important;
  padding: 0 !important;
  font-family: inherit !important;
  .gs-title {
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-black !important;
    font-size: $h3-font-size !important;
    margin: 0 0 10px 0 !important;
    b {
      font-size: 1em !important;
    }
  }
  .gs-snippet {
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif !important;
    font-size: $base-font-size !important;
    line-height: $p-line-height !important;
    margin-bottom: 16px !important;
  }
  .gs-web-image-box, .gs-promotion-image-box {
    width: 100px;
    @include media-breakpoint-up(sm) {
      width: 160px;
    }
  }
  .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: $lightgray-darken-45 !important;
    font-family: $sans-serif-font-stack;
    font-weight: $sans-serif-roman !important;
    font-size: 12px !important;
    line-height: 18px !important;
    margin-bottom: 12px !important;
  }
  .gsc-results .gsc-cursor-box {
    padding-top: 40px;
    padding-bottom: 72px;
    text-align: center;
    font-size: $base-font-size !important;
  }
}

.gs-webResult.gs-result a.gs-title {
  color: $link-color-light !important;
  text-decoration: underline;
  * {
    color: $link-color-light !important;
  }
  &:hover {
    color: $link-color-hover !important;
    text-decoration: none !important;
    * {
      color: $link-color-hover !important;
      text-decoration: none !important;
    }
  }
}

.bg-secondary {
  background-color: $base-lightgray !important;
}

.badge-secondary, .btn-outline-secondary {
  color: $lightgray-darken-80;
}
.border-success, .facet-limit-active {
  color: $base-navy;
}

.facet-values li .selected {
  color: $darkest-gray !important;
}

