<fieldset>
<table class="table table-striped works-list">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <thead>
  <tr>
    <th class="check-all"><label for="check_all" class="sr-only"><%= t("hyrax.dashboard.my.sr.check_all_label") %></label><%= render_check_all %></th>
    <th><%= t("hyrax.dashboard.my.heading.title") %></th>
    <th class='date text-center'><%= t("hyrax.dashboard.my.heading.last_modified") %></th>
    <th class='text-center'><%= t("blacklight.search.fields.facet.suppressed_bsi") %></th>
    <th class='text-center'><%= t("hyrax.dashboard.my.heading.work.visibility") %></th>
    <th class='text-center'><%= t("hyrax.dashboard.my.heading.work.published") %></th>
    <th class='text-center'><%= t("hyrax.dashboard.my.heading.action") %></th>
  </tr>
  </thead>
  <tbody>
  <% docs.each_with_index do |document, counter| %>
      <%= render 'list_works', document: document, counter: counter, presenter: Hyrax::WorkShowPresenter.new(document, current_ability) %>
  <% end %>
  </tbody>
</table>
</fieldset>

