<fieldset class="btn-group">
  <button class="btn btn-danger dropdown-toggle batch-select-all button_to-inline" type="button" id="unpublish" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-controls="unpublish-dropdown-options">
    <%= t("hyrax.base.show_actions.unpublish.button_label") %>
  </button>
  <ul class="dropdown-menu" id="unpublish-dropdown-options">
    <% @unpublish_options.each do |platform_name| %>
      <li class="dropdown-item">
        <%= form_tag("/batch_edits/unpublish", class: "batch-select-all button_to-inline", "data-behavior" => "batch-select-all") do %>
          <%= hidden_field_tag("platform", platform_name) %>
          <%= hidden_field_tag("return_controller", params[:controller]) %>

          <%= submit_tag(platform_name&.to_s.humanize, class: "btn-link submit-link submits-batches",
                         title: t("hyrax.base.show_actions.unpublish.desc", platform: publish_option_label(platform_name)),
                         data: { confirm: t("hyrax.base.show_actions.unpublish.confirm", platform: publish_option_label(platform_name)) }) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</fieldset>
