.workflow_filters_select2_wrapper a {
  padding-top: 4px !important;
  min-height: 38px;
  min-width: 160px;
}
.workflow_filters_select2_wrapper a span.select2-chosen {
  font-weight: 500;
}
.workflow_filters_select2_wrapper a span.select2-arrow {
  padding-top: 4px !important;
}
.workflow_filters_select2_wrapper.select2-container .select2-choice,
.workflow_filters_select2_wrapper.select2-container-active .select2-choice {
  border-radius: 0px;
}
a.select2-remove {
  color: #fff;
  margin-right: 6px;
  &:hover {
    color: #aaa;
    text-decoration: none;
  }
}
a.select2-remove .remove-icon {
  color: darkorange;
}