.representative-image-remove,
.representative-image-remove:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #d33a35 !important;
  font-weight: normal;
  text-decoration: underline;
}
.representative-image-icon>img {
  max-width: 172px;
  height: auto;
}
.icon-wrapper>img {
  max-width: 72px;
  height: auto;
}
.representative-container {
  padding: 0px;
  margin-bottom: 32px;
}
.representative-container .fileupload-buttonbar {
  padding: 16px 0px;
}
.btn.representative-image-remove {
  padding: 0px;
}
.representative-container .form-inline {
  padding: 16px 0px;
  display: inline-block;
  & > * {
    vertical-align: top;
  }
}
