.select2_wrapper a {
  min-height: 36px;
  padding-top: 3px !important;
}
.select2_wrapper a span.select2-arrow {
  width: 24px !important;
  padding-top: 3px !important;
  padding-left: 3px !important;
}
/** Enable select2 hidden input for validation prompt message */
input.select2_wrapper {
  display: block !important;
  height: 0;
  opacity:0;
  border: 1px solid transparent;
  margin-top: -16px;
  margin-bottom: 16px;
}
