<% provide :page_header do %>
  <h1><span class="fa fa-users" aria-hidden="true"></span>  <%= t("hyrax.admin.workflow_roles.header") %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title h2"><%= t('.new_role') %></h2>
      </div>
      <div class="card-body">
        <%= simple_form_for Hyrax::Forms::WorkflowResponsibilityForm.new, url: hyrax.admin_workflow_roles_path do |f| %>
          <%= f.input :user_id, as: :select, collection: @presenter.users %>
          <%= f.input :workflow_role_id, as: :select, collection: @presenter.workflow_role_options %>
          <%= f.submit class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title h2"><%= t('.current_roles') %></h3>
      </div>
      <div class="card-body">
        <table class="table table-striped workflow-roles-list">
          <thead>
            <th><%= t('.header.name') %></th>
            <th><%= t('.header.user') %></th>
            <th><%= t('.header.roles') %></th>
          </thead>
          <tbody>
          <% @presenter.users_for_page.each do |user| %>
            <tr>
              <td data-sort="<%= user.name %>"><%= user.name %></td>
              <td data-sort="<%= user.user_key %>"><%= user.user_key %></td>
              <% agent_presenter = @presenter.presenter_for(user) %>
              <% if agent_presenter && agent_presenter.responsibilities_present? %>
                <td>
                  <ul class="workflow-roles">
                    <% agent_presenter.responsibilities do |responsibility_presenter| %>
                      <li><%= responsibility_presenter.label %>
                        <%= link_to hyrax.admin_workflow_role_path(responsibility_presenter.responsibility),
                                    method: :delete,
                                    data: { confirm: t('.delete.confirm') } do %>
                          <span class="fa fa-remove"></span>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </td>
              <% else %>
                <td><%= t('.no_roles') %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="row">
          <% if @presenter.total_pages > 1 %>
            <%= paginate @presenter.users_for_page, outer_window: 2, theme: 'blacklight', param_name: :page %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
