// Colors
$white: #ffffff;
$border-gray: #dce1e5;
$dark-blue: #003660;
$mid-blue: #005aa3;
$darkest-gray: #3D4952;
$mid-gray: #777777;

// Primary color
$base-navy:                   #003660;
$navy-lighten-10-desat-10:    #07528c;
$navy-darken-4:               #002b4c;
$navy-lighten-70:             #c6e7ff;

// Secondary-color
$base-gold:                   #febc11;
$gold-darken-10-desat-10:     #d0990c;
$gold-lighten-24-sat-12:      #ffdf8a;

// Tertiary colors
$base-seagreen:               #0ba89a;
$base-seagreen-web:           #09847a;
$seagreen-darken-12:          #076f65;
$seagreen-lighten-32-desat-40:#83d3cc;

$base-aqua:                   #04859b;
$base-aqua-web:               #047c91;
$aqua-darken-6:               #036b7d;
$aqua-lighten-36-desat-36:    #7acedd;

$base-moss:                   #7a8d39;
$base-moss-web:               #6d7d33;
$moss-darken-8:               #61702d;
$moss-lighten-40:             #c6d495;

$base-coral:                  #ef5645;
$coral-darken-15-desat-15:    #ce4a3b;
$coral-lighten-20:            #f7aba3;

$base-sandstone:              #c9bf9d;
$sandstone-darken-10:         #b6aa7c;
$sandstone-lighten-20:        #edeadf;

$base-clay:                   #dcd6cc;
$clay-lighten-10:             #f1eeea;

$base-mist:                   #9cbebe;
$mist-darken-10:              #7ca9a9;
$mist-lighten-20:             #dae6e6;

$lightgray-darken-80:         #111517;
$lightgray-darken-60:         #43484C;
$lightgray-darken-45:         #5e707e;
$lightgray-darken-45-opacity-50: rgba(94,112,126,0.5);
$lightgray-darken-20:         #A9AEB2;
$base-lightgray:              #dce1e5;
$lightgray-lighten-6:         #eef0f2;
$base-white:                  #ffffff;
$white-opacity-50:            rgba(255,255,255,0.5);
$lightgray-darken-80-opacity-30: rgba(17,21,23,0.3);

// Interactive blue
$base-interactive-blue:       #003660;
$light-interactive-blue:      #005aa3;

// Utility colors
$base-success-green:          #9CBEBE;
$success-green-darken-20:     #7A8D39;
$base-warning-yellow:         #FEBC11;
$warning-yellow-darken:       #DDA412;

$base-danger-red:             #EF5645;
$danger-red-darken-20:        #C6483A;
$base-info-blue:              #04859B;
