<!-- The template to display files available for upload -->
<script id="template-upload-representative" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade show">
      <td>
        <span class="preview"></span>
      </td>
      <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error text-danger"></strong>
      </td>
    </tr>
{% } %}
</script>

<!-- function used by the following template -->
<script type="text/javascript">
  function setAllResourceTypes(resourceTypeId) {
    var firstResourceType = $("#resource_type_" + resourceTypeId.toString())[0];
    var selected_options = [];
    for (var i = 0; i < firstResourceType.length; i++) {
      if (firstResourceType.options[i].selected) {
        selected_options.push(firstResourceType.options[i].value);
      }
    }
    $(".resource_type_dropdown").each(function(index, element) {
      for(var i=0; i< this.length; i++) {
        this.options[i].selected =
            $.inArray(this.options[i].value, selected_options) > -1 ? true : false;
      }
    });
  }
</script>

<!-- Simpler display of files available for download. Originally from hyrax/base/_form_files -->
<!-- TODO: further consolidate with template-download above -->
<!-- The template to display the banner once upload is complete -->
<script id="template-download-representative" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <span class="template-download fade show">
      <div id="representative">
        <div class="row representative-image-row">
          <div class="col-sm-3">
            <span class="name">
              <span>{%=file.name%}</span>
              <input type="hidden" name="representative_files[]" value="{%=file.id%}">
            </span>
            {% if (file.error) { %}
              <span><span class="badge badge-danger"><%= t('.error') %></span> {%=file.error%}</span>
            {% } %}
          </div>

          <div class="col-sm-2">
            <button class="btn btn-link remove representative-image-remove" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" onclick=$("#representative").remove(); {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
              <span class="fa fa-times"></span>
              <span class="controls-remove-text"><%= t('.remove') %></span>
              <span class="sr-only">
                <%= t('.previous') %>
                <span class="controls-field-name-text"><%= t('.remove_new_representative_image') %></span>
              </span>
            </button>
          </div> <!-- end col-sm-2 -->
        </div> <!-- row representative-image-row -->
      </div> <!-- end container representative -->
    </span>
{% }  $("div#representative").remove(); %}
</script>

<script>
    $(function () {
        // will run after DOM is loaded
        $('#fileuploadRepresentative').hyraxUploader({downloadTemplateId: 'template-download-representative',
            uploadTemplateId: 'template-download-representative',
            // The regular expression for allowed file types, matches
            // against either file type or file name:
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            // The maximum allowed file size in bytes:
            maxFileSize: <%= Hyrax.config.uploader[:maxFileSize] %>,
            // The minimum allowed file size in bytes:
            //minFileSize: undefined, // No minimal file size
            // The limit of files to be uploaded:
            //maxNumberOfFiles: 100,
            messages: {
                acceptFileTypes: '<%= t(".options.messages.accept_file_types") %>',
                maxFileSize: '<%= t(".options.messages.max_file_size") %>',
                maxNumberOfFiles: '<%= t(".options.messages.max_number_of_files") %>',
                minFileSize: '<%= t(".options.messages.min_file_size") %>',
            }});
    });
</script>
