<% if @presenter.file_set_members.size > 1 %>
  <div class="btn-group record-padding members-navigation">
    <ul class="pagination">
      <li class="page-item<%= @presenter.previous_file_set.nil? ? " disabled" : "" %>">
        <% if @presenter.previous_file_set.nil? %>
          <a rel="prev" onclick="return false;" class="page-link" href="#"><%= t(".previous") %></a>
        <% else %>
          <%= link_to t(".previous"),
                @presenter.contextual_path(@presenter.previous_file_set, @presenter.parent),
                class: "page-link",
                rel: "prev" %>
        <% end %>
      </li>
      <li class="page-item<%= @presenter.next_file_set.nil? ? " disabled" : "" %>">
        <% if @presenter.next_file_set.nil? %>
          <a rel="next" onclick="return false;" class="page-link" href="#"><%= t(".next") %></a>
        <% else %>
          <%= link_to t(".next"),
                @presenter.contextual_path(@presenter.next_file_set, @presenter.parent),
                class: "page-link",
                rel: "next" %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
