<dl class="file-show-files" style="margin-top: 32px;margin-bottom: 32px;">
  <div class="row">
    <dt class="col-12" style="margin-bottom: 8px;"><%= t(".files") %></dt>
  </div>
  <% @presenter.files.each do |file|
     next if file.thumbnail_file?
     use = file.pcdm_use.first&.to_s&.split('#').last.underscore
  %>
    <div class="row">
      <dd class="col-5"><%= file.pcdm_use.first&.to_s %></dd>
      <dd class="col-7">
        <%= link_to raw('<i class="fa fa-download"></i><span style="padding-left:12px;">Download</span>'),
              "#{hyrax.download_path(@presenter.id)}&file=#{use}",
              class: use,
              target: "_blank" %>
      </dd>
    </div>
  <% end %>
</dl>
