<h2><%= t(".file_details") %></h2>
<dl class="file-show-term file-show-details">
  <div class="row">
    <dt class="col-5"><%= t(".depositor") %></dt>
    <dd class="col-7" itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></dd>
  </div>
  <div class="row">
    <dt class="col-5"><%= t(".date_uploaded") %></dt>
    <dd class="col-7" itemprop="datePublished"><%= @presenter.date_uploaded %></dd>
  </div>
  <div class="row">
    <dt class="col-5"><%= t(".date_modified") %></dt>
    <dd class="col-7" itemprop="dateModified"><%= @presenter.date_modified %></dd>
  </div>
  <% unless @presenter.pcdm_use.nil? %>
    <div class="row">
      <dt class="col-5"><%= t(".file_use") %></dt>
      <dd class="col-7"><%= link_to(nil, @presenter.pcdm_use.to_s, target: "_blank") %></dd>
    </div>
  <% end %>
  <div class="row">
    <dt class="col-5"><%= t(".fixity_check") %></dt>
    <dd class="col-7"><%= @presenter.fixity_check_status %></dd>
  </div>
  <div class="row">
    <dt class="col-5"><%= t(".characterization") %></dt>
    <dd class="col-7">
      <% if @presenter.characterized? %>
        <%= render 'show_characterization_details' %>
      <% else %>
        <%= t(".not_yet_characterized") %>
      <% end %>
    </dd>
  </div>
</dl>
