<% if @response.total_pages > 1 %>
 <div class="row record-padding">
  <div class="col-md-9">
    <div class="pagination">
      <%= paginate @response, outer_window: 2, theme: 'blacklight', route_set: main_app %>
    </div>
  </div>
 </div>
<% end %>
