<% provide :page_title, t("hyrax.admin.sidebar.projects") %>
<% provide :head do %>
  <%= rss_feed_link_tag route_set: main_app %>
  <%= atom_feed_link_tag route_set: main_app %>
<% end %>

<script>
//<![CDATA[

  <%= render partial: 'scripts', formats: [:js] %>

//]]>
</script>

<% provide :page_header do %>
  <h1><span class="fa fa-sitemap" aria-hidden="true"></span> <%= t("hyrax.admin.sidebar.projects") %></h1>
<% end %>

<div class="collections-wrapper">
  <section class="tabs-row">
    <!-- Page tabs -->
    <nav><%= render 'tabs' if @managed_collection_count > 0 %></nav>

    <% if can?(:create_any, Hyrax.config.collection_class) && @collection_type_list_presenter.any? %>
      <% if @collection_type_list_presenter.many? %>
        <% # modal to select type %>
        <button type="button"
          id="add-new-collection-button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#collectiontypes-to-create"
          data-behavior="select-collection">
          <%= t(:'helpers.action.admin_set.new') %>
        </button>
      <% else @collection_type_list_presenter.any? %>
        <% # link directly to create collection form with type %>
        <%= link_to(t('helpers.action.admin_set.new'), append_collection_type_url(new_admin_admin_set_path, @collection_type_list_presenter.first_collection_type.id), id: 'add-new-project-button', class: 'btn btn-primary') %>
      <% end %>
    <% end %>
  </section>

  <%# Projects list %>
  <div class="card collections-panel-wrapper">
    <div class="card-header">
      <% if  current_page?(hyrax.my_collections_path(locale: nil)) %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.admin_sets.you_own', total_count: @response.total_count).html_safe %></span>
      <% elsif current_page?(hyrax.dashboard_collections_path(locale: nil)) && !current_ability.admin? %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.admin_sets.you_manage', total_count: @response.total_count).html_safe %></span>
      <% else %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.admin_sets.in_repo', total_count: @response.total_count).html_safe %></span>
      <% end %>
    </div>
    <div class="card-body">
      <h2 class="sr-only"><%= t('hyrax.my.count.admin_sets.admin_sets_listing') %></h2>
      <%= render 'search_header' %>
      <%= render 'hyrax/my/document_list' %>
      <%= render 'results_pagination' %>
    </div>
  </div>

  <!-- Render Modals -->
  <%= render 'modal_add_to_collection', source: "my" %>
  <%= render 'modal_add_to_collection_deny' %>
  <%= render 'modal_add_to_collection_permission_deny' %>
  <%= render 'modal_collection_types_to_create' %>
  <%= render 'modal_delete_admin_set_deny' %>
  <%= render 'modal_delete_collection' %>
  <%= render 'modal_delete_collection_deny' %>
  <%= render 'modal_delete_collections_deny' %>
  <%= render 'modal_delete_deny' %>
  <%= render 'modal_delete_empty_collection' %>
  <%= render 'modal_delete_selected_collections' %>
  <%= render 'modal_edit_deny' %>

</div><!-- /projects-wrapper -->
