<div class="batch-info">
  <div class="batch-toggle">
    <div class="button_to-inline">
      <%= button_to t('.update_workflows'),
            "/admin/workflows/batch/workflow_actions",
            method: :get,
            class: "btn btn-update btn-primary submits-batches",
            id: 'batch-edit' %>
      </button>
    </div>
  </div>
</div>
