<fieldset class="btn-group">
  <legend class="sr-only"><%= t(".importer") %></legend>
  <div id="importer_dropdown_options" class="workflow_filters_select2_wrapper" data-filter="importer" data-filter-name="<%= t(".importer") %>" data-select2-options="<%= @importers.to_json %>" data-select2-selected="<%= @response.importer&.id %>" data-total-count="<%= @response.total_count %>" data-url-base="<%= hyrax.admin_workflows_path(state: @response.workflow_state, project_id: @response.workflow_project_id) %>" />
</fieldset>
