<fieldset class="btn-group">
  <legend class="sr-only"><%= t(".project") %></legend>
  <div id="project_dropdown_options" class="workflow_filters_select2_wrapper" data-filter="project_id" data-filter-name="<%= t(".project") %>" data-select2-options="<%= @workflow_projects&.to_json %>" data-select2-selected="<%= @response.workflow_project_id %>" data-total-count="<%= @response.total_count %>" data-url-base="<%= hyrax.admin_workflows_path(state: @response.workflow_state, importer: @response.importer&.id) %>" />
</fieldset>
