<% unless @response.importer.blank? %>
  <span class="btn-group applied-filter constraint filter filter-suppressed_bsi">
    <span class="constraint-value btn btn-outline-secondary">
      <span class="filter-name"><%= t("hyrax.admin.workflows.importer_filter.importer") %></span>
      <span class="filter-value" title="<%= @response.importer&.name %>"><%= @response.importer&.name %></span>
    </span>
    <%= link_to raw("<span class=\"remove-icon\" aria-hidden=\"true\">✖</span><span class=\"sr-only visually-hidden\">#{t(".remove_constraint")} #{t("hyrax.admin.workflows.importer_filter.importer")}: #{@response.importer&.name}</span>"),
          hyrax.admin_workflows_path(state: @response.workflow_state, project_id:  @response.workflow_project_id, project_title: @response.workflow_project),
          class:  "btn btn-outline-secondary remove" %>
  </span>
<% end %>
