<% unless @response.workflow_state.blank? %>
  <span class="btn-group applied-filter constraint filter filter-suppressed_bsi">
    <span class="constraint-value btn btn-outline-secondary">
      <span class="filter-name"><%= t("hyrax.admin.workflows.state_filter.workflow_state") %></span>
      <span class="filter-value" title="<%= @response.workflow_state&.humanize %>"><%= @response.workflow_state&.humanize %></span>
    </span>
    <%= link_to raw("<span class=\"remove-icon\" aria-hidden=\"true\">✖</span><span class=\"sr-only visually-hidden\">#{t(".remove_constraint")} #{t("hyrax.admin.workflows.state_filter.workflow_state")}: #{@response.workflow_state}</span>"),
          hyrax.admin_workflows_path(importer: @response.importer&.id, project_id:  @response.workflow_project_id, project_title: @response.workflow_project),
          class:  "btn btn-outline-secondary remove" %>
  </span>
<% end %>
