<% unless @response.workflow_project.blank? %>
  <span class="btn-group applied-filter constraint filter filter-suppressed_bsi">
    <span class="constraint-value btn btn-outline-secondary">
      <span class="filter-name"><%= t("hyrax.admin.workflows.project_filter.project") %></span>
      <span class="filter-value" title="<%= @response.workflow_project %>"><%= @response.workflow_project %></span>
    </span>
    <%= link_to raw("<span class=\"remove-icon\" aria-hidden=\"true\">✖</span><span class=\"sr-only visually-hidden\">#{t(".remove_constraint")} #{t("hyrax.admin.workflows.project_filter.project")}: #{@response.workflow_project}</span>"),
          hyrax.admin_workflows_path(state: @response.workflow_state, importer: @response.importer&.id),
          class:  "btn btn-outline-secondary remove" %>
  </span>
<% end %>
