<fieldset class="btn-group">
  <legend class="sr-only"><%= t(".workflow_state") %></legend>
  <div id="workflow_state_dropdown_options" class="workflow_filters_select2_wrapper" data-filter="state" data-filter-name="<%= t(".workflow_state") %>" data-select2-options="<%= @workflow_states.to_json %>" data-select2-selected="<%= @response.workflow_state %>" data-total-count="<%= @response.total_count %>" data-url-base="<%= hyrax.admin_workflows_path(importer: @response.importer&.id, project_id:  @response.workflow_project_id) %>" />
</fieldset>
