<div id="list-filters" class="list-filters" role="group">
  <span class="list-filters-label"><%= t(".filter") %>: </span>
  <%= render "importer_filter" %>
  <%= render "state_filter" %>
  <%= render "project_filter" %>  
</div>
<!-- Remove filter constraints  -->
<div id="appliedParams" class="clearfix constraints-container" style="padding: 0px 16px;">
  <%= render "remove_importer_filter" %>
  <%= render "remove_state_filter" %>
  <%= render "remove_project_filter" %>
</div>
<%= link_to "", "#", id: "filter_workflow_objects" %><!-- A dummy link for ajax page load -->

<script>
  $('.workflow_filters_select2_wrapper').each(function(index, e) {
    const selected2Options = applyRemoveFilterConstraint(e);

    $(e).select2({
      data: selected2Options || [],
      placeholder: $(e).data('filter-name'),
      escapeMarkup: function(markup) {
        return markup;
      }
    });
  });
</script>
