<% provide :page_header do %>
  <h1><span class="fa fa-check-circle"></span> <%= t('.header') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="tabs">
      <div class="card">
        <div class="card-header">
          <span class="count-display">
            <%= I18n.t('hyrax.admin.workflows.index.works_count', total_count: @response.total_count, workflow_state: @response.workflow_state || t(".active")).html_safe %>
          </span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <%= render "workflow_filters" %>
            </div>
          </div>
          <div class="row record-padding">
            <div class="col-sm-12">
              <div class="sort-toggle mt-2">
                <%= form_tag hyrax.admin_workflows_path, method: :get, class: 'per_page' do %>
                  <fieldset class="col-12">
                    <legend class="sr-only"><%= t('hyrax.dashboard.my.sr.results_per_page') %></legend>
                    <%= label_tag :per_page do %>
                        Show <%= select_tag :per_page, options_for_select(Hyrax.config.range_for_number_of_results_to_display_per_page.map(&:to_s), h(params[:per_page])), title: "entries" %> per page
                    <% end %>
                    <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:per_page, :sort, :utf8)) %>
                  </fieldset>
                <% end %>
              </div>
              <%= render "batch_edits_actions" %>
            </div>
          </div>
          <h2 class="sr-only"><%= t('.works_listing') %></h2>
          <table class="table table-sm table-striped works-list">
            <thead>
              <tr>
                <th  width="5%" class="check-all"><label for="check_all" class="sr-only"><%= t("hyrax.dashboard.my.sr.check_all_label") %></label>
                  <%= render_check_all %>
                </th>
                <th width="45%"><%= t(".heading.work") %></th>
                <th width="25%"><%= t(".heading.submission_date") %></th>
                <th width="25%"><%= t(".heading.status") %></th>
              </tr>
            </thead>
            <tbody>
              <% @response.docs.each do |document| %>
                <tr>
                  <td>
                    <label for="batch_document_<%= document.id %>" class="sr-only"><%= t("hyrax.dashboard.my.sr.batch_checkbox") %></label>
                    <%= render 'hyrax/batch_select/add_button', document: document %>&nbsp;
                  </td>
                  <td>
                    <%= link_to document, [main_app, document] %>
                  </td>
                  <td>
                    <%= document.date_modified %>
                  </td>
                  <td>
                    <span class="state state-pending"><%= document.workflow_state %></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= render 'hyrax/my/results_pagination' %>
        </div>
      </div>
    </div>
  </div>
</div>
