<% provide :page_header do %>
  <h1><span class="fa fa-check-circle"></span> <%= t('.header') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="tabs">
      <div class="card">
        <div class="card-header">
          <strong><%= t(".batch_actions") %><%= @batch_ids.join(", ") %></strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="workflow-actions">
                <div id="workflow_controls" class="card panel-workflow">
                  <% unless @workflow.nil? %>
                  <%= form_tag "/admin/workflows/batch/batch_update", method: :put do %>
                    <div id="workflow_controls_collapse" class="card-body collapse show">
                      <div class="col-sm-3 workflow-actions">
                        <h3><%= t('.actions') %></h3>
                
                        <% @workflow.actions.each do |key, label| %>
                          <div class="form-check">
                            <label class="form-check-label">
                              <%= radio_button_tag 'workflow_action[name]', key, key == 'comment_only', class: 'form-check-input' %>
                              <%= label %>
                            </label>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-sm-9 workflow-comments">
                        <div class="form-group">
                          <label for="workflow_action_comment"><%= t('.review_comment') %>:</label>
                          <textarea class="form-control" name="workflow_action[comment]" id="workflow_action_comment"></textarea>
                        </div>
    
                        <%= hidden_field_tag "batch_document_ids", @batch_ids.to_json %>
                        <input class="btn btn-primary" type="submit" value="Submit" />
                      </div>
                    </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
