<header id="navbar" class="navbar navbar-expand-md topbar" role="navigation">
  <div id="eyebrow" class="<%= container_classes %>">
    <%= link_to "University of California, Santa Barbara", root_path, class: "edu-link", title:"University of California, Santa Barbara"  %>

      <!-- Bootstrappy collapsible navbar… -->
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-end " id="user-util-collapse">
        <%= render partial: 'shared/user_util_links' %>
      </div>
  </div>
</header>
<div class="header" role="banner">
  <div class="container">
    <a href="https://www.library.ucsb.edu/">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 291.44 80.13" preserveAspectRatio="xMinYMin">
        <desc>UC Santa Barbara Library</desc>
        <path class="d" d="M0,69.63H3.78v-24.32H0v-2.86H11.55v2.86H7.44v24.2h11.34v-5.25h3.4v8.23H0v-2.86ZM24.57,72.49v-2.73h3.07v-16.38h-3.15v-2.86h6.64v19.24h3.15v2.73h-9.7Zm2.23-28.9c0-1.34,1.09-2.35,2.39-2.35s2.39,1.01,2.39,2.35-1.09,2.39-2.39,2.39-2.39-1.05-2.39-2.39ZM42.59,68.79v3.7h-6.55v-2.73h3.07v-26.88h-3.15v-2.86h6.64v14.37c1.26-2.35,4.24-4.24,7.44-4.24,5.75,0,10,4.2,10,11.05v.34c0,6.72-3.95,11.34-10,11.34-3.57,0-6.17-1.81-7.44-4.07Zm13.82-7.1v-.34c0-5.55-3.07-8.32-6.76-8.32-4.08,0-7.18,2.69-7.18,8.32v.34c0,5.59,2.94,8.28,7.23,8.28s6.72-2.94,6.72-8.28ZM62.54,72.49v-2.73h3.07v-16.38h-3.15v-2.86h6.64v4.2c1.05-2.31,3.28-4.54,7.9-4.58v3.44c-4.79-.04-7.9,1.47-7.9,6.85v9.33h3.36v2.73h-9.91ZM85.89,72.87c-3.99,0-7.14-1.97-7.14-6.47,0-5.12,5.29-6.81,10.84-6.81h3.07v-1.6c0-3.7-1.47-4.96-4.62-4.96-2.94,0-4.54,1.09-4.87,3.95h-3.49c.42-5.17,4.37-6.85,8.53-6.85s7.94,1.51,7.94,7.86v11.76h2.94v2.73h-6.43v-3.02c-1.47,2.27-3.61,3.4-6.76,3.4Zm6.76-8.07v-2.73h-2.94c-4.33,0-7.48,1.13-7.48,4.33,0,1.97,1.01,3.7,3.99,3.7,3.61,0,6.43-1.89,6.43-5.29ZM100.92,72.49v-2.73h3.07v-16.38h-3.15v-2.86h6.64v4.2c1.05-2.31,3.28-4.54,7.9-4.58v3.44c-4.79-.04-7.9,1.47-7.9,6.85v9.33h3.36v2.73h-9.91ZM137.59,53.37l-11.05,26.76h-5.59v-2.73h3.36l3.02-7.18-7.35-16.84h-2.77v-2.86h9.66v2.86h-3.19l5.5,12.9,5-12.9h-3.32v-2.86h9.41v2.86h-2.69ZM238.45,.51h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L238.45,.51Zm1.69,5.81l-2.43,6.2h4.88l-2.45-6.2ZM213.09,.51h7.45c.86,0,1.73,.06,2.61,.18,.87,.12,1.66,.37,2.35,.73,.7,.37,1.26,.88,1.69,1.54,.43,.66,.65,1.53,.65,2.62s-.31,2.06-.94,2.81c-.63,.74-1.46,1.27-2.5,1.59v.06c.66,.09,1.25,.28,1.79,.55,.54,.27,1,.62,1.38,1.04,.39,.42,.68,.92,.89,1.48,.21,.56,.31,1.17,.31,1.81,0,1.05-.23,1.93-.68,2.64-.45,.7-1.03,1.27-1.75,1.71-.71,.43-1.52,.74-2.41,.93-.89,.19-1.78,.28-2.67,.28h-8.18V.51Zm4.4,7.98h3.19c.34,0,.67-.04,1-.11,.33-.07,.62-.2,.89-.37,.26-.17,.47-.39,.63-.68,.16-.28,.24-.62,.24-1.02s-.09-.76-.27-1.03c-.18-.27-.41-.48-.69-.63-.28-.15-.6-.26-.96-.32-.36-.07-.71-.1-1.04-.1h-2.99v4.26Zm0,8.26h3.95c.34,0,.68-.04,1.03-.11,.35-.07,.66-.21,.94-.39s.51-.43,.69-.73c.18-.3,.27-.67,.27-1.1,0-.47-.12-.85-.35-1.14-.24-.29-.53-.51-.89-.66-.36-.15-.74-.25-1.16-.31-.41-.06-.8-.08-1.16-.08h-3.33v4.54ZM252.86,.51h7.73c1.02,0,1.98,.1,2.89,.3,.91,.2,1.71,.53,2.4,.99,.69,.46,1.23,1.08,1.64,1.86,.4,.78,.61,1.75,.61,2.92,0,1.41-.37,2.61-1.1,3.6-.73,.99-1.8,1.61-3.22,1.88l5.08,8.43h-5.27l-4.17-7.98h-2.17v7.98h-4.4V.51Zm4.4,8.26h2.59c.4,0,.81-.01,1.26-.04,.44-.03,.84-.11,1.2-.25,.36-.14,.65-.36,.89-.66,.23-.3,.35-.72,.35-1.27,0-.51-.1-.91-.31-1.21-.21-.3-.47-.53-.79-.69-.32-.16-.69-.27-1.1-.32-.41-.06-.82-.08-1.21-.08h-2.88v4.54ZM179.02,.51h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L179.02,.51Zm1.69,5.81l-2.43,6.2h4.88l-2.45-6.2ZM279.12,.51h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L279.12,.51Zm1.69,5.81l-2.43,6.2h4.88l-2.45-6.2ZM153.66,.5h7.45c.86,0,1.73,.06,2.61,.18,.87,.12,1.66,.37,2.35,.73,.7,.37,1.26,.88,1.69,1.54,.43,.66,.65,1.53,.65,2.62s-.31,2.06-.94,2.81c-.63,.74-1.46,1.27-2.5,1.59v.06c.66,.09,1.25,.28,1.79,.55,.54,.27,1,.62,1.38,1.04,.39,.42,.68,.92,.89,1.48,.21,.56,.31,1.17,.31,1.81,0,1.05-.23,1.93-.68,2.64-.45,.7-1.03,1.27-1.75,1.71-.71,.43-1.52,.74-2.41,.93-.89,.19-1.78,.28-2.67,.28h-8.18V.5Zm4.4,7.98h3.19c.34,0,.67-.04,1-.11,.33-.07,.62-.2,.89-.37,.26-.17,.47-.39,.63-.68,.16-.28,.24-.62,.24-1.02s-.09-.76-.27-1.03c-.18-.27-.41-.48-.69-.63-.28-.15-.6-.26-.96-.32-.36-.07-.71-.1-1.04-.1h-2.99v4.26Zm0,8.26h3.95c.34,0,.68-.04,1.03-.11,.35-.07,.66-.21,.94-.39,.28-.19,.51-.43,.69-.73,.18-.3,.27-.67,.27-1.1,0-.47-.12-.85-.35-1.14-.24-.29-.53-.51-.89-.66-.36-.15-.74-.25-1.16-.31-.41-.06-.8-.08-1.16-.08h-3.33v4.54ZM193.44,.5h7.73c1.02,0,1.98,.1,2.89,.3,.91,.2,1.71,.53,2.4,.99,.69,.46,1.23,1.08,1.64,1.86,.4,.78,.61,1.75,.61,2.92,0,1.41-.37,2.61-1.1,3.6-.73,.99-1.8,1.61-3.22,1.88l5.08,8.43h-5.27l-4.17-7.98h-2.17v7.98h-4.4V.5Zm4.4,8.26h2.59c.39,0,.81-.01,1.26-.04,.44-.03,.84-.11,1.2-.25,.36-.14,.65-.36,.89-.66,.23-.3,.35-.72,.35-1.27,0-.51-.1-.91-.31-1.21-.21-.3-.47-.53-.79-.69-.32-.16-.69-.27-1.1-.32-.41-.06-.82-.08-1.21-.08h-2.88v4.54ZM73.66,.51h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L73.66,.51Zm1.69,5.81l-2.43,6.2h4.88l-2.45-6.2ZM132.94,.51h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L132.94,.51Zm1.69,5.81l-2.43,6.2h4.88l-2.45-6.2ZM88.42,.5h5.98l8.49,13.88h.06V.5h4.4V20.47h-5.75l-8.71-14.21h-.06v14.21h-4.4V.5ZM115.93,4.4h-5.51V.5h15.79v3.89h-5.88V20.47h-4.4V4.4ZM9.78,20.79c-4.64,0-7.27-2.71-7.27-7.64V2.43H.26V.51H7.53v1.92h-2.54V12.87c0,4.24,1.49,5.88,4.86,5.88s5.15-1.3,5.15-6.25V2.43h-2.54V.51h7.27v1.92h-2.26V12.84c0,4.92-2.47,7.95-7.67,7.95ZM37.23,13.83c-.51,3.28-2.8,4.95-6.11,4.95-4.35,0-6.96-3.11-6.96-8.26v-.23c0-5.09,2.8-8.34,6.98-8.34,3.08,0,5.18,1.3,6,4.67h2.06V.51h-2.21V2.72C35.96,.85,33.75,0,31.2,0,25.63,0,21.62,4.33,21.62,10.32v.23c0,6.22,3.59,10.24,9.45,10.24,4.45,0,7.63-2.22,8.41-6.72l-2.25-.23ZM63.85,14.33c0,3.8-3.22,6.46-7.82,6.46-3.69,0-6.33-1.24-7.87-3.69l3.02-2.58c.49,.7,2.17,2.72,5.22,2.72,1.91,0,3.09-.83,3.09-2.16,0-1.69-1.1-2.06-3.88-2.84-3.29-.92-6.63-2.34-6.63-5.99s3.1-6.24,7.54-6.24c1.78,0,5.03,.42,6.81,3.19l-2.8,2.44c-1.06-1.4-2.54-2.08-4.5-2.08s-2.69,1.37-2.69,2.29c0,1.46,1.94,2.09,4.29,2.72,3.01,.79,6.22,1.95,6.22,5.78Z"></path>
      </svg>
    </a>
    <%= link_to "Geodata", main_app.root_path, class: "header-link", 'aria-label' => 'Link to Geodata main page' %>
  </div>  
</div>

<div class="navbar-search navbar navbar-light bg-light" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
