/* Custom styles for the header component */
      /* Include Bootstrap styles here */
      @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
      * {
        font-family: sans-serif;
        letter-spacing: .1em;
        line-height: 1em;
      }
      /* Custom styles for the header component */
      .header-container {
        background-color: white;
        padding: 10px;
      }

      .logo img {
        margin-right: 20px;
        max-width: 150px;
      }

      .navigation {
        background-color: #033660;
        padding: 10px 0;
      }

      .nav-item {
        color: white;
        margin-right: 20px;
      }

      .nav-item:hover {
        color: #ffc107;
      }

      .nav-item.active {
        font-weight: bold;
      }