/* Custom styles for the header component */
      /* Include Bootstrap styles here */
      @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
      * {
        font-family: sans-serif;
        letter-spacing: .1em;
        line-height: 1em;
      }
      footer {
        margin: 0;
        padding: 1rem 1.25rem 3rem;
        color: #ffffff;
        background: #002B4C;
        font-size: .75rem;
      }
  