<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= render_page_title %></title>
    <!-- Default CSS -->
    <style>
      /* Reset CSS */
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          height: 100%
      }
    </style>
    <script>
      document.querySelector('html').classList.remove('no-js');
    </script>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= content_for(:daylight_component_metadata) %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render_daylight_component(name: :footer) { { } } %>
  </body>
<% end %>
