<% content_for :content do %>
  <%= render_daylight_component(name: :header) { {
    slot_into_logo: "*",
    slot_into_title: "Dynamic Title"
  } } %>
  <%= yield %>
<% end %>
<%= render template: "layouts/base" %>
