.alert-info {
    background-color: $mist-lighten-20;
    color: $lightgray-darken-80;
}

.card-header{
    background-color: $mist-lighten-20 !important;
}

.bg-success, .facet-limit-active .card-header {
    background-color: $mist-lighten-20 !important;
}

.btn-outline-secondary, .st-block-controls__button, .facet-values li .selected {
    color: #3D4952 !important; 
}

.btn-secondary {
    background-color: #535A60;
}
input:checked ~ .checkmark {
    background-color: pink;
}
blockquote {
  padding: 0.714em 1.429em;
  line-height: 1.3;
  border-left: 0.357em solid #eee;
  letter-spacing: 0.059em;
}

blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child {
    margin-bottom: 0
}

blockquote footer,blockquote small,blockquote .small,blockquote .view-blog-main .views-row article .article-content .field--name-field-topics .field--item,.view-blog-main .views-row article .article-content .field--name-field-topics blockquote .field--item {
    display: block;
    font-size: 80%;
    line-height: calc(24 / 7);
    color: #777;
}

blockquote footer:before,blockquote small:before,blockquote .small:before,blockquote .view-blog-main .views-row article .article-content .field--name-field-topics .field--item:before,.view-blog-main .views-row article .article-content .field--name-field-topics blockquote .field--item:before {
    content: "— "
}
blockquote p.MsoNormal {
    display: block;
    margin: 0;
    padding: .6em;
    height: 0;
    line-height: 0;
    font-size: .7em;
  }
