@import "shared/variables";

// Text colors
$text-on-dark: #FFFFFF;
$text-on-light: #003660;
$text-on-red: #111517;

// Additional “unofficial” colors used by the UCSB website
$unofficial-dark-navy: #002B4C;
$unofficial-interactive-blue: #005AA3;
$unofficial-light-interactive-blue: #0076D6;
$unofficial-success-green: #9CBEBE;
$unofficial-warning-yellow: #FFDC00;
$unofficial-danger-red: #FF4136;
$unofficial-info-blue: #0074D9;
$unofficial-border-gray: #DCE1E5;
$unofficial-dark-lightgray: #A1AFBA;
$unofficial-lightgray-darken-45: #5E707E;
$unofficial-fade-gray: #CCC;

// Utility colors
$base-success-green:          #9CBEBE;
$success-green-darken-20:     #7A8D39;
$base-warning-yellow:         #FEBC11;
$warning-yellow-darken:       #DDA412;

$base-danger-red:             #EF5645;
$danger-red-darken-20:        #C6483A;
$base-info-blue:              #04859B;

// Interactive blue
$base-navy:                   #003660;
$base-interactive-blue:       #003660;
$light-interactive-blue:      #005aa3;



// Starlight overridable theme colours
$starlight-primary: $base-navy !default;
$starlight-dark-primary: $unofficial-dark-navy !default;

// Revised Bootstrap defaults
$body-bg: $base-white !default;
$body-color: $text-on-light !default;
$primary: $starlight-primary !default;
$success: $base-success-green !default;
$info: $base-info-blue !default;
$warning: $base-warning-yellow !default;
$danger: $base-danger-red !default;
$link-color: $base-navy !default;
$link-hover-color: $light-interactive-blue !default;
$border-color: $lightgray-lighten-6 !default;
$border-radius: 0 !default;
