<main>
  <%= render_daylight_component(name: :searchbox) { component_json(@searchbox_config) } %>
  <%= render_daylight_component(name: :highlights) { { "header": "Featured Items", "highlights": Array(@highlighted_objects) } } %>
</main>
