<% content_for(:head) do -%>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
<% end %>
<main>
  <%= render_daylight_component(name: :results) { { resultItems: @json_documents }.as_json } %>
</main>
