/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'geoblacklight/geoblacklight';

@import 'themes/ucsb/style';

@mixin inline($separator, $distance) {
  &, & > li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline-block;
    margin: 0;
    padding-left: 0;
  }
  & > li + li {
    // old IE doesn't recognize ::before, so this keeps items at least a little separate
    padding-left: $distance/2;
    &::before {
      font-style: normal;
      content: $separator;
      padding-right: $distance/2;
    }
  }
}

header {
  background-color: $base-navy !important;
  height: 36px;
}
.navbar{
  padding: 0 .9375rem;
  height: fit-content;
}
.header {
  color: #003660;
  background: #eef0f2;
}

.header svg{
  color: inherit;
  fill: currentcolor;
  stroke: transparent;
  height: auto;
  width: 13rem;
  margin: 20px 0;
}
.header a:hover{
  color: inherit;
  fill: currentcolor;
  stroke: transparent;
}
.header > div {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  justify-content: space-between;
  line-height: 1;
}
.header-link {
  margin-top: 15px;
  margin-right: 40px;
}
.navbar-toggler{
  height: inherit;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
main {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.row {
  margin: 0 !important;

  #sidebar,
  .page-sidebar {
    padding: 0 15px;
  }
}

a.remove,
.documents-list a,
.page-sidebar a {
  border-bottom: 0 !important;
}

.card-header {
  margin: 0;

  h2 {
    margin-top: .25rem;
  }
}

.facet-limit .card-body {
  padding: .5rem .75rem 0 1rem;
}

dd {
  > div,
  > span,
  > a {
    padding-left: 5px;
  }
}

footer {
  .icon {
    fill: $white;
    margin-bottom: -2px;
    margin-right: 6px;
    vertical-align: text-bottom;
  }
}
