<div class="row">
  <div class="col-md-12">
    <%= t(".description") %>
    <%= CometPublishedBadge.new(f.object.model.id).render %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if f.object.discovery_links.present? %>
      <dt><%= t('.discovery_links') %></dt>
      <dd>
        <ul class="tabular">
        <% f.object.discovery_links.each do |discovery_link| %>
          <li class="attribute attribute-discovery_links">
            <%= link_to discovery_link[0], discovery_link[1] %>
          </li>
        <% end %>
        </ul>
      </dd>
    <% end %>
  </div>
</div>
