<% if embargo_enforced?(f.object) %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif lease_enforced?(f.object) %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
    <fieldset>
      <% if local_assigns[:save_work] %>
        <legend class="legend-save-work"><%= t('.visibility') %></legend>
      <% else %>
        <legend><%= t('.visibility') %><%= raw(t('.subtitle_html')) %></legend>
      <% end %>
      <ul class="visibility">
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, data: { 'target': '#collapsePublic' } %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC) %>
            <br />
            <%= t('hyrax.visibility.open.note_html', type: f.object.human_readable_type) %>
            <div class="collapse" id="collapsePublic">
              <%= t('hyrax.visibility.open.warning_html', label: visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC)) %>
            </div>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED) %>
            <br />
            <%= t('hyrax.visibility.authenticated.note_html', institution: institution_name) %>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Comet::VISIBILITY_TEXT_VALUE_METADATA_ONLY %>
            <%= visibility_badge(Comet::VISIBILITY_TEXT_VALUE_METADATA_ONLY) %>
            <br />
            <%= t('hyrax.visibility.metadata_only.note_html') %>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Comet::VISIBILITY_TEXT_VALUE_CAMPUS %>
            <%= visibility_badge(Comet::VISIBILITY_TEXT_VALUE_CAMPUS) %>
            <br />
            <%= t('hyrax.visibility.campus.note_html') %>
          </label>
        </li>       
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Comet::VISIBILITY_TEXT_VALUE_COMET %>
            <%= visibility_badge(Comet::VISIBILITY_TEXT_VALUE_COMET) %>
            <br />
            <%= t('hyrax.visibility.comet.note_html') %>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO, data: { 'target': '#collapseEmbargo' } %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO) %>
            <br />
            <%= t('hyrax.visibility.embargo.note_html') %>
            <div class="collapse" id="collapseEmbargo">
              <div class="form-inline">
                <%= f.input :visibility_during_embargo, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
                <%= t('hyrax.works.form.visibility_until') %>
                <%= f.date_field :embargo_release_date, wrapper: :inline, value: f.object.embargo_release_date || Time.zone.tomorrow, class: 'datepicker form-control' %>
                <%= f.input :visibility_after_embargo, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
              </div>
            </div>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE, data: { 'target': '#collapseLease' } %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE) %>
            <br />
            <%= t('hyrax.visibility.lease.note_html') %>
            <div class="collapse" id="collapseLease">
              <div class="form-inline">
                <%= f.input :visibility_during_lease, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
                <%= t('hyrax.works.form.visibility_until') %>
                <%= f.date_field :lease_expiration_date, wrapper: :inline, value: f.object.lease_expiration_date || Date.tomorrow, class: 'datepicker form-control' %>
                <%= f.input :visibility_after_lease, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
              </div>
            </div>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE) %>
            <br />
            <%= t('hyrax.visibility.restricted.note_html') %>
          </label>
        </li>
      </ul>
    </fieldset>
<% end %>
