
<%  array_of_ids = presenter.list_of_item_ids_to_display %>
<%  members = presenter.member_presenters(array_of_ids) %>
<%  array_of_component_ids = presenter.list_of_component_ids_to_display %>
<%  component_members = presenter.member_presenters(array_of_component_ids) %>
<%  array_of_file_set_ids = presenter.list_of_file_set_ids_to_display %>
<%  file_set_members = presenter.member_presenters(array_of_file_set_ids) %>
<% if component_members.present? || file_set_members.present? %>
  <div class="col-md-12">
    <div class="panel panel-default tabs" role="main">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="items-tabs">
        <% ["all", "components", "file_sets",].each_with_index do | tab, i | %>
          <% if i == 1 %>
            <li role="presentation" class="nav-item active">
          <% else %>
            <li role="presentation" class="nav-item">
          <% end %>
              <a href="#<%= tab %>" aria-controls="<%= tab %>" role="tab" data-toggle="tab" class="nav-link<%= i == 0 ? ' active' : '' %>">
                <%= t(".#{tab}") %> (<%= i == 0 ? presenter.total_members_count : i == 1 ? presenter.components_count : presenter.file_sets_count %>)
              </a>
            </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <% ["all", "components", "file_sets"].each_with_index do | tab, i | %>
            <div role="tabpanel" class="tab-pane<%= i == 0 ? ' active' : '' %>" id="<%= tab %>">
            <div class="form-tab-content">

              <table class="table table-striped related-files">
                <thead>
                  <tr>
                    <th><%= t('.thumbnail') %></th>
                    <th><%= t('.title') %></th>
                    <th><%= t('.date_uploaded') %></th>
                    <th><%= t('.visibility') %></th>
                    <th><%= t('.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: 'member', collection: (i == 0 ? members : i == 1 ? component_members : file_set_members) %>
                </tbody>
              </table>
              <div class="row">
                <% if i == 0 && presenter.total_pages > 1 %>
                    <div class="row record-padding col-md-12" align="center">
                      <%= paginate array_of_ids, outer_window: 2, theme: 'blacklight', param_name: :page %>
                    </div><!-- /pager -->
                <% elsif i == 1 && presenter.total_component_pages > 1 %>
                    <div class="row record-padding col-md-12" align="center">
                      <%= paginate array_of_component_ids, outer_window: 2, theme: 'blacklight', param_name: :component_page, params: { anchor: 'components' } %>
                    </div><!-- /pager -->
                <% elsif i == 2 && presenter.total_file_set_pages > 1 %>
                    <div class="row record-padding col-md-12" align="center">
                      <%= paginate array_of_file_set_ids, outer_window: 2, theme: 'blacklight', param_name: :file_set_page, params: { anchor: 'file_sets' } %>
                    </div><!-- /pager -->
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% else %>
  <div class="alert alert-warning" role="alert"><%= t('.unauthorized', type: presenter.human_readable_type) %></div>
<% end %>
