<dl class="work-show <%= dom_class(presenter) %>" <%= presenter.microdata_type_to_html %>>
    <%= render 'attribute_rows', presenter: presenter %>
    <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date, html_dl: true) %>
    <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date, html_dl: true) %>
</dl>

<details>
  <summary>Metadata Mappings</summary>
  <p class="alert alert-danger" style="margin: 0">
    This is just a quick thing I hacked together for this demo.
    Right now, these mappings aren’t normally exposed in Comet—they’re made
    accessible through the Superskunk API!
  </p>
  <dl>
    <% false && presenter.mappings.each do |mapping| %>
      <div style="margin: .5em 0">
        <dt style="font-size: larger"><%= mapping.display_label %></dt>
        <dd>
          <table style="width: 100%; border: thin solid; border-radius: 4px; border-collapse: separate; border-spacing: 2px">
            <thead>
              <tr><th width="40%" style="border-bottom: thin solid">Property</th><th style="border-bottom: thin solid">Values</th></tr>
            </thead>
            <tbody>
              <% presenter.mapped_to(mapping).each do |(property, mapped)| %>
                <tr>
                  <th style="background: gainsboro; padding: 2px" scope="row"><%= property %></th>
                  <td style="border: thin solid; padding: 2px">
                    <ul style="margin: 0">
                      <% mapped.to_a.each do |value| %>
                        <li><%= value %></li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </dd>
      </div>
    <% end %>
  </dl>
</details>
