<fieldset class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="publish" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-controls="publish-dropdown-options">
    <%= t("hyrax.base.show_actions.publish.button_label") %>
  </button>
  <ul class="dropdown-menu" id="publish-dropdown-options">
    <% presenter.publish_options.each do |platform_name| %>
      <li class="dropdown-item">
        <%= link_to platform_name&.to_s.humanize,
                    "/concern/generic_objects/#{presenter.id}/publish?platform=#{platform_name}",
                    title: t('hyrax.base.show_actions.publish.desc', platform: presenter.publish_option_label(platform_name)),
                    data: { confirm: t('hyrax.base.show_actions.publish.confirm', platform: presenter.publish_option_label(platform_name)),
                            method: :post } %>
      </li>
    <% end %>
  </ul>
</fieldset>
