<fieldset class="btn-group">
  <button class="btn btn-danger dropdown-toggle" type="button" id="unpublish" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-controls="unpublish-dropdown-options">
    <%= t("hyrax.base.show_actions.unpublish.button_label") %>
  </button>
  <ul class="dropdown-menu" id="unpublish-dropdown-options">
    <% presenter.unpublish_options.each do |platform_name| %>
      <li class="dropdown-item">
        <%= link_to platform_name&.to_s.humanize,
                    "/concern/generic_objects/#{presenter.id}/unpublish?platform=#{platform_name}",
                    title: t('hyrax.base.show_actions.unpublish.desc', platform: presenter.publish_option_label(platform_name)),
                    data: { confirm: t('hyrax.base.show_actions.unpublish.confirm', platform: presenter.publish_option_label(platform_name)),
                            method: :put } %>
      </li>
    <% end %>
  </ul>
</fieldset>
