  <li class="h5 nav-item"><%= t('hyrax.admin.sidebar.repository_objects') %></li>
  <%= menu.nav_link(main_app.dashboard_projects_path,
                    class: "nav-link",
                    onclick: "dontChangeAccordion(event);",
                    also_active_for: main_app.dashboard_projects_path) do %>
    <span class="fa fa-sitemap" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.projects') %></span>
  <% end %>

  <%= menu.nav_link(hyrax.dashboard_collections_path,
                    class: "nav-link",
                    onclick: "dontChangeAccordion(event);",
                    also_active_for: hyrax.dashboard_collections_path) do %>
    <span class="fa fa-folder-open" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections') %></span>
  <% end %>

  <%= menu.nav_link(hyrax.my_works_path,
                    class: "nav-link",
                    onclick: "dontChangeAccordion(event);",
                    also_active_for: hyrax.dashboard_works_path) do %>
    <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works') %></span>
  <% end %>

  <%= render 'hyrax/dashboard/sidebar/menu_partials', menu: menu, section: :repository_content %>