<table id="collections-list-table" class="table table-striped collections-list-table">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <thead>
  <tr>
    <th class="check-all">
      <label for="check_all" class="sr-only"
        ><%= t("hyrax.dashboard.my.sr.check_all_label") %>
      </label>
      <label class="centerizer">
        <input type="checkbox" class="check-all-checkbox" name="check_all" id="check_all" value="yes" />
        <%= t("hyrax.dashboard.my.action.select") %>
      </label>
    </th>
    <th><%= t("hyrax.dashboard.my.heading.title") %></th>
    <% if !current_ability.admin? %>
      <th><%= t("hyrax.dashboard.my.heading.access") %></th>
    <% end %>
    <th><%= t("hyrax.dashboard.my.heading.last_modified") %></th>
    <th><%= t("hyrax.dashboard.my.heading.items") %></th>
    <th><%= t("hyrax.dashboard.my.heading.collection.visibility") %></th>
    <th><%= t("hyrax.dashboard.my.heading.collection.published") %></th>
    <th><%= t("hyrax.dashboard.my.heading.action") %></th>
  </tr>
  </thead>
  <tbody>
  <% docs.each_with_index do |document, counter| %>
    <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability, nil) %>
    <%= render 'list_collections', collection_presenter: collection_presenter, counter: counter, is_admin_set: document.admin_set? %>
  <% end %>
  </tbody>
</table>
