<%= render "shared/nav_safety_modal" %>
<div class="tabs mt-4" id="collection-edit-controls">
  <ul class="nav nav-tabs" id="dashboard-collection-tab" role="tablist">
    <li class="nav-item">
      <a href="#description" role="tab" data-toggle="tab" class="nav-link active nav-safety-confirm">
        <%= t('.tabs.description') %>
      </a>
    </li>
    <li class="nav-item">
      <a href="#representative_image" role="tab" data-toggle="tab" class="nav-link nav-safety-confirm">
        <%= t('.tabs.representative_image') %>
      </a>
    </li>
    <% if @form.persisted? %>
      <% if collection_brandable?(collection: @collection) %>
      <li class="nav-item">
        <a href="#branding" role="tab" data-toggle="tab" class="nav-link nav-safety-confirm">
          <%= t('.tabs.branding') %>
        </a>
      </li>
      <% end %>
      <% if collection_discoverable?(collection: @collection) %>
      <li class="nav-item">
        <a href="#discovery" role="tab" data-toggle="tab" class="nav-link nav-safety-confirm">
          <%= t('.tabs.discovery') %>
        </a>
      </li>
      <% end %>
      <% if collection_sharable?(collection: @collection) %>
      <li class="nav-item">
        <a href="#sharing" role="tab" data-toggle="tab" class="nav-link nav-safety-confirm">
          <%= t('.tabs.sharing') %>
        </a>
      </li>
      <% end %>
    <% end %>
  </ul>

  <%= simple_form_for @form, url: [hyrax, :dashboard, @form], html: { class: "editor#{ @form.persisted? ? ' nav-safety' : ''}", data: { behavior: 'collection-form', 'param-key' => @form.model_name.param_key } } do |f| %>
    <div class="tab-content card" id="dashboard-collection-tab-content">
      <div id="description" class="tab-pane show active">
        <div class="labels">
          <div class="card-body">

            <div id="base-terms">
              <% f.object.primary_terms.each do |term| %>
                <%= render_edit_field_partial(term, f: f) %>
              <% end %>

              <% # TODO: Remove check for PcdmCollection when Issue #5286 is resolved. %>
              <% if f.object.persisted? && !(Hyrax.config.collection_class < Valkyrie::Resource) %>
                <%# we're loading these values dynamically to speed page load %>
                <%= f.input :thumbnail_id,
                    input_html: { data: { text: thumbnail_label_for(object: f.object) } } %>
              <% end %>
            </div>
            <% if f.object.display_additional_fields? %>
              <%= link_to t('hyrax.collection.form.additional_fields'),
                      '#extended-terms',
                      class: 'btn btn-secondary additional-fields',
                      data: { toggle: 'collapse' },
                      role: "button",
                      'aria-expanded'=> "false",
                      'aria-controls'=> "extended-terms" %>
              <div id="extended-terms" class='collapse'>
                <% f.object.secondary_terms.each do |term| %>
                  <%= render_edit_field_partial(term, f: f) %>
                <% end %>
              </div>
            <% end %>
            <%= hidden_field_tag :type, params[:type] %>
            <%= hidden_field_tag :stay_on_edit, true %>
            <%= hidden_field_tag :collection_type_gid, @collection.collection_type_gid %>
            <!-- parent_id may be passed from the nested collections controller to allow a subcollection relationship to be added as collection is created -->
            <% if params[:parent_id].present? %>
              <%= hidden_field_tag :parent_id, params[:parent_id] %>
            <% end %>
            <% if params[:batch_document_ids].present? %>
              <% params[:batch_document_ids].each do |batch_item| %>
                <input type="hidden" name="batch_document_ids[]" value="<%= batch_item %>" />
              <% end %>
            <% end %>
          </div>
        </div>
      </div> <!-- end description -->

      <div id="representative_image" class="tab-pane">
        <div class="card labels">
          <div class="card-body">
            <%= render "form_representative_image", f: f %>
          </div>
        </div>
      </div>

      <% if @form.persisted? %>

        <% if collection_brandable?(collection: @collection) %>
          <div id="branding" class="tab-pane">
            <div class="card labels">
              <div class="card-body">
                <%= render 'form_branding', f: f %>
              </div>
            </div>
          </div>
        <% end %>

        <% if collection_discoverable?(collection: @collection) %>
          <div id="discovery" class="tab-pane">
            <div class="card labels">
              <div class="card-body">
                <%= render 'form_discovery', f: f %>
              </div>
            </div>
          </div>
        <% end %>

        <% if collection_sharable?(collection: @collection) %>
          <div id="sharing" class="tab-pane">
            <div class="card labels" id="collection_permissions" data-param-key="<%= f.object.model_name.param_key %>">
              <div class="card-body">
                <%= render 'form_share', f: f %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="card-footer">
        <% if @collection.persisted? %>
          <%= f.submit t(:'hyrax.collection.select_form.update'), class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "update_submit", name: "update_collection" %>
          <%= link_to t(:'helpers.action.cancel'), hyrax.dashboard_collection_path(@collection), class: 'btn btn-link' %>
        <% else %>
          <%= f.submit t(:'hyrax.collection.select_form.create'), class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "create_submit", name: "create_collection" %>
          <%= link_to t(:'helpers.action.cancel'), hyrax.dashboard_collections_path, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div> <!-- end tab-content -->
  <% end # simple_form_for %>

</div> <!-- end collection-controls -->
