<div class="set-access-controls">
  <p><%= t('.description') %></p>

  <!-- display representative image -->
  <div class="row representative-container">
    <div class="col-4" align="center">
      <div class="representative-image-icon">
        <%= image_tag(f.object.representative_image_path,
                      alt: t(".representative_image_icon")) if f.object.representative_image_path %>
      </div>
    </div>
  </div>

  <%= render "form_upload_representative_image", f: f %>

  <% if f.object.persisted? %>
    <%= render "form_select_representative_image", f: f %>
  <% end %>
</div> <!-- end set-access-controls -->
