<label><strong><%= t(".find_representative_image") %></strong></label>
<p><%= t('.description') %></p>
<div class="representative-container" data-param-key="<%= f.object.model_name.param_key %>" data-members="<%= work_members_json(f.object) %>">
  <!-- Redirect browsers with JavaScript disabled to the origin page -->
  <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>" /></noscript>
  <div class="form-inline">
    <%= f.label :find_representative_image, label: t(".find") %>
    <%= f.input_field :find_representative_image,
                      prompt: :translate,
                      autocomplete: "off",
                      onChange: "showRepresentativeImage()",
                      style: "min-width: 250px;margin: 0px 6px;",
                      data: {
                        autocomplete: "work",
                        "autocomplete-url" => "#{Rails.application.routes.url_helpers.qa_path}/search/find_representative_image",
                        "exclude-work": f.object.model.id.to_s # reuse for collection objects search and excluding representative image from the result set.
                      } %>
    <span class="icon-wrapper">
      <img id="representative-icon" />
    </span>
    <%= hidden_field_tag :representative_id, @collection.representative_id %>
    <%= hidden_field_tag :thumbnail_id, @collection.thumbnail_id %>
  </div>

  <% if f.object.representative_image %>
    <div id="representative-image-selected" class="representative-container">
      <div style="width: 100%;"><%= t(".representative_image_selected") %></div>
      <div class="row">
        <div class="col-sm-1 icon-wrapper">
          <img src="<%= "/downloads/#{f.object.representative_image.id}?inline=true" %>" />
        </div>
        <div class="col-sm-3" align="center">
          <%= f.object.representative_image.title.first %>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-link remove representative-image-remove" data-behavior="remove-selected-representative" data-remove-confirm="<%= t('.confirm_remove_image') %>">
            <span class="fa fa-times"></span>
            <span class="controls-remove-text"><%= t('.remove') %></span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function () {
    /** Remove collection representative image existed. */
    $("a[data-behavior='remove-selected-representative']").on( "click", function(e) {
      if (confirm($(this).data('remove-confirm'))) {
        // Remove existing representative image.
        $("input#representative_id").val("");
        $("input#thumbnail_id").val("");
        $("#representative-image-selected").hide();
      }
    });
  });
</script>
