<label><strong><%= t(".upload_representative_image") %></strong></label>
<p><%= t('.description') %></p>
<div class="representative-container" id="fileuploadRepresentative">
  <!-- Redirect browsers with JavaScript disabled to the origin page -->
  <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>" /></noscript>
  <!-- The table listing the files available for upload/download -->

  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="col-4">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <span class="fa fa-plus"></span>
        <span><%= t('.choose_file') %></span>
        <input type="file" name="files[]" single />
        <%= hidden_field_tag :remove_image_uploaded, "false" %>
      </span>
    </div> <!-- end col-4 -->

    <!-- The global progress state -->
    <div class="col-8 fileupload-progress representative-image-progress fade">
      <!-- The global progress bar -->
      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:0%;"></div>
      </div>
      <!-- The extended global progress state -->
      <div class="progress-extended">&nbsp;</div>
    </div> <!-- end col-8 fileupload-progress fade -->
  </div> <!-- end row fileupload-buttonbar -->

  <div role="presentation" class="table table-striped"><span class="files"></span></div>

  <% if f.object.representative_image_path&.include?("?file=thumbnail") %>
    <div id="representative-image-uploaded" class="representative-container">
      <div style="width: 100%;"><%= t(".representative_image_uploaded") %></div>
      <div class="row">
        <div class="col-sm-2 icon-wrapper">
          <img src="<%= f.object.representative_image_path %>" />
        </div>
        <div class="col-sm-3">
          <a class="btn btn-link remove representative-image-remove" data-behavior="remove-uploaded-representative" data-remove-confirm="<%= t(".confirm_remove_image") %>">
            <span class="fa fa-times"></span>
            <span class="controls-remove-text"><%= t('.remove') %></span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div> <!-- fileupload -->

<%= render "hyrax/uploads/js_templates_representative" %>

<script>
  $(function () {
    /** Remove the uploaded representative image. */
    $("a[data-behavior='remove-uploaded-representative']").on( "click", function(e) {
      if (confirm($(this).data('remove-confirm'))) {
        // Remove existing representative image.
        $("input#remove_image_uploaded").val("true");
        $("#representative-image-uploaded").hide();
      }
    });
  });
</script>
