<% # used by All and Managed Collections tabs %>
<% id = collection_presenter.id %>
<tr id="document_<%= id %>"
  data-id="<%= id %>"
  data-colls-hash="<%= available_parent_collections_data(collection: collection_presenter) %>"
  data-post-url="<%= hyrax.dashboard_create_nest_collection_within_path(id) %>"
  data-post-delete-url="<%= is_admin_set ? hyrax.admin_admin_set_path(id) : hyrax.dashboard_collection_path(id) %>">

  <td>
    <label class="sr-only" for="batch_document_<%= id %>"><%= t('hyrax.dashboard.my.sr.batch_checkbox') %></label>
    <% if collection_presenter.allow_batch? %>
    <input type="checkbox" name="batch_document_ids[]" id="batch_document_<%= id %>" value="<%= id %>" class="batch_document_selector"
      data-hasaccess="<%= (can?(:edit, collection_presenter.solr_document)) %>" />
    <% else %>
    <input type="checkbox" class="disabled batch_document_selector" disabled=true />
    <% end %>
  </td>
  <td>
    <div class="thumbnail-title-wrapper">
      <div class="thumbnail-wrapper">
        <% if (collection_presenter.thumbnail_path == nil) %>
          <span class="<%= Hyrax::ModelIcon.css_class_for(::Collection) %> collection-icon-small"></span>
        <% else %>
          <%= image_tag(collection_presenter.thumbnail_path, alt: "#{collection_presenter.title_or_label} #{t('hyrax.dashboard.my.sr.thumbnail')}") %>
        <% end %>
      </div>
      <%= link_to collection_presenter.show_path do %>
          <span class="sr-only"><%= t("hyrax.dashboard.my.sr.show_label") %> </span>
          <%= collection_presenter.title_or_label %>
      <% end %>

      <%# Expand arrow %>
      <a href="#" class="small show-more" title="Click for more details">
        <i id="expand_<%= id %>" class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sr-only"> <%= "#{t("hyrax.dashboard.my.sr.detail_label")} #{collection_presenter.title_or_label}" %></span>
      </a>
    </div>

    <%# Collection details %>
    <div id="detail_<%= id %>">
      <div class="expanded-details">
        <p>
          <strong><%= t("hyrax.dashboard.my.collection_list.description") %></strong>
          <br /><%= collection_presenter.description&.first %>
        </p>
        <p>
          <strong><%= t("hyrax.dashboard.my.collection_list.edit_access") %></strong>
          <br />
          <% if collection_presenter.edit_groups.present? %>
            <%= t("hyrax.dashboard.my.collection_list.groups") %> <%= collection_presenter.edit_groups.join(', ') %>
            <br />
          <% end %>
          <%= t("hyrax.dashboard.my.collection_list.users") %> <%= collection_presenter.edit_people.join(', ') %>
        </p>
      </div>
    </div>
  </td>
  <% if !current_ability.admin? %>
    <td><%= collection_presenter.managed_access %></td>
  <% end %>
  <td class="date"><%= collection_presenter.modified_date %></td>
  <td><%= collection_presenter.total_viewable_items %></td>
  <td><%= collection_presenter.permission_badge %>  </td>
  <td><%= collection_presenter.published_badge %></td>
  <td>
    <%= render '/hyrax/my/collection_action_menu', collection_presenter: collection_presenter %>
   </td>
</tr>
