<% @presenter.terms_with_values.each do |field_name| %>
    <div class="row">
      <dt class="col-5 text-right"><%= collection_metadata_label(@presenter, field_name) %></dt>
      <dd class="col-7"><%= collection_metadata_value(@presenter, field_name) %></dd>
    </div>
<% end %>
<%# display collection metadata %>
<% @presenter.schema_property_names.each do |name, value| %>
<div class="row">
    <dt class="col-5 text-right"><%= collection_metadata_label(@presenter, name) %></dt>
    <dd class="col-7"><% if value.is_a?(Array) %>
        <% value.each do |item| %>
            <%= item %> </br>
        <% end %>
    
        <% else %>
            <p><%= value %></p>
        <% end %>
    </dd>
</div>
  
<% end %>

