# TODO: Actually appropriately handle the fields of the model.
#
# Right now this only works with objects which have a “value property” and just
# renders a normal form for that property.
#
# Ideally, this would render a nested form for each value.
<%= f.input "#{definition.name}[#{field_model.value_property_name}]",
            as: :schema_field,
            label: definition.display_label,
            hint: definition.definition,
            usage_guidelines: definition.usage_guidelines,
            required: definition.required?
%>
